Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @gornekich, @nminaylov, @gsurkov, @Skorpionm, @drunkbatya

drop setting save feature
  applications/main/subghz/scenes/subghz_scene_need_saving.c
  applications/main/subghz/scenes/subghz_scene_read_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/subghz_i.h
  applications/main/subghz/subghz_setting.c
  applications/main/subghz/subghz_setting.h
  applications/main/subghz/views/receiver.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

drop setting save feature
  applications/main/subghz/scenes/subghz_scene_need_saving.c
  applications/main/subghz/scenes/subghz_scene_read_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/subghz_i.h
  applications/main/subghz/subghz_setting.c
  applications/main/subghz/subghz_setting.h
  applications/main/subghz/views/receiver.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

delete
  applications/main/subghz/subghz_last_setting.c
  applications/main/subghz/subghz_last_setting.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

delete
  applications/main/subghz/subghz_last_setting.c
  applications/main/subghz/subghz_last_setting.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix subghz read issues
  applications/main/subghz/scenes/subghz_scene_decode_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/scenes/subghz_scene_start.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix subghz read issues
  applications/main/subghz/scenes/subghz_scene_decode_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/scenes/subghz_scene_start.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

update assets
  assets/resources/infrared/assets/ac.ir
  assets/resources/infrared/assets/audio.ir
  assets/resources/infrared/assets/fans.ir
  assets/resources/infrared/assets/projectors.ir
  assets/resources/infrared/assets/tv.ir
Owners: @skotopes, @DrZlo13, @hedger

update assets
  assets/resources/infrared/assets/ac.ir
  assets/resources/infrared/assets/audio.ir
  assets/resources/infrared/assets/fans.ir
  assets/resources/infrared/assets/projectors.ir
  assets/resources/infrared/assets/tv.ir
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

add new frequency to user config
  assets/resources/subghz/assets/setting_user
Owners: @skotopes, @DrZlo13, @hedger

add new frequency to user config
  assets/resources/subghz/assets/setting_user
Owners: @skotopes, @DrZlo13, @hedger

going to rebase, update to latest dev version
  applications/plugins/flipfrid/application.fam
  applications/plugins/flipfrid/flipfrid.c
  applications/plugins/flipfrid/flipfrid.h
  applications/plugins/flipfrid/scene/flipfrid_scene_entrypoint.c
  applications/plugins/flipfrid/scene/flipfrid_scene_load_file.c
  applications/plugins/flipfrid/scene/flipfrid_scene_run_attack.c
  fbt_options.py
Owners: @skotopes, @DrZlo13, @hedger

move spectrum analyzer into plugins, fix debug builds
  applications/main/application.fam
  applications/plugins/spectrum_analyzer/application.fam
  applications/plugins/spectrum_analyzer/spectrum_10px.png
  applications/plugins/spectrum_analyzer/spectrum_analyzer.c
  applications/plugins/spectrum_analyzer/spectrum_analyzer.h
  applications/plugins/spectrum_analyzer/spectrum_analyzer_worker.c
  applications/plugins/spectrum_analyzer/spectrum_analyzer_worker.h
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_0.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_1.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_2.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_3.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_4.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_5.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_rate
  fbt_options.py
Owners: @skotopes, @DrZlo13, @hedger

move spectrum analyzer into plugins, fix debug builds
  applications/main/application.fam
  applications/plugins/spectrum_analyzer/application.fam
  applications/plugins/spectrum_analyzer/spectrum_10px.png
  applications/plugins/spectrum_analyzer/spectrum_analyzer.c
  applications/plugins/spectrum_analyzer/spectrum_analyzer.h
  applications/plugins/spectrum_analyzer/spectrum_analyzer_worker.c
  applications/plugins/spectrum_analyzer/spectrum_analyzer_worker.h
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_0.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_1.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_2.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_3.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_4.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_5.png
  assets/icons/MainMenu/SpectrumAnalyzer_14/frame_rate
  fbt_options.py
Owners: @skotopes, @DrZlo13, @hedger

fixed bug with power suppress in unirf, removed icon from api
  applications/main/unirfremix/unirfremix_app.c
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger

fixed bug with power suppress in unirf, removed icon from api
  applications/main/unirfremix/unirfremix_app.c
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger

fbt: removed assets rebuild on git commit id change; added explicit dependency for SDK source on compiled assets parts; removed unneeded sdk regeneration runs
  assets/SConscript
  firmware.scons
  site_scons/fbt/sdk.py
  site_scons/site_tools/fbt_sdk.py
Owners: @skotopes, @DrZlo13, @hedger

fbt: removed assets rebuild on git commit id change; added explicit dependency for SDK source on compiled assets parts; removed unneeded sdk regeneration runs
  assets/SConscript
  firmware.scons
  site_scons/fbt/sdk.py
  site_scons/site_tools/fbt_sdk.py
Owners: @skotopes, @DrZlo13, @hedger

update universal ir assets
  assets/resources/infrared/assets/fans.ir
  assets/resources/infrared/assets/tv.ir
Owners: @skotopes, @DrZlo13, @hedger

update universal ir assets
  assets/resources/infrared/assets/fans.ir
  assets/resources/infrared/assets/tv.ir
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

Update HowToInstall.md
  documentation/HowToInstall.md
Owners: @skotopes, @DrZlo13, @hedger, @drunkbatya

Update HowToInstall.md
  documentation/HowToInstall.md
Owners: @skotopes, @DrZlo13, @hedger, @drunkbatya

update changelog again
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

update changelog again
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

updating readme for flipfrid
  applications/plugins/flipfrid/README.md
Owners: @skotopes, @DrZlo13, @hedger

Update setting_user
  assets/resources/subghz/assets/setting_user
Owners: @skotopes, @DrZlo13, @hedger

Update setting_user
  assets/resources/subghz/assets/setting_user
Owners: @skotopes, @DrZlo13, @hedger

[FL-2800] Fix Mifare Classic 4K reading of the last 8 sectors (#1712)
  furi/core/core_defines.h
Owners: @skotopes, @DrZlo13, @hedger

[FL-2800] Fix Mifare Classic 4K reading of the last 8 sectors (#1712)
  furi/core/core_defines.h
Owners: @skotopes, @DrZlo13, @hedger

faploader: more subsystem headers in API table (#1742)
  applications/plugins/picopass/application.fam
  assets/SConscript
  documentation/AppManifests.md
  fbt_options.py
  firmware.scons
  firmware/targets/f7/api_symbols.csv
  firmware/targets/furi_hal_include/furi_hal_power.h
  lib/lfrfid/SConscript
  lib/mbedtls.scons
  lib/subghz/SConscript
  lib/subghz/protocols/raw.h
  lib/toolbox/SConscript
  site_scons/extapps.scons
  site_scons/fbt/appmanifest.py
  site_scons/fbt/elfmanifest.py
  site_scons/fbt/sdk.py
  site_scons/fbt/version.py
  site_scons/site_tools/fbt_sdk.py
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @drunkbatya, @nminaylov, @Skorpionm

faploader: more subsystem headers in API table (#1742)
  applications/plugins/picopass/application.fam
  assets/SConscript
  documentation/AppManifests.md
  fbt_options.py
  firmware.scons
  firmware/targets/f7/api_symbols.csv
  firmware/targets/furi_hal_include/furi_hal_power.h
  lib/lfrfid/SConscript
  lib/mbedtls.scons
  lib/subghz/SConscript
  lib/subghz/protocols/raw.h
  lib/toolbox/SConscript
  site_scons/extapps.scons
  site_scons/fbt/appmanifest.py
  site_scons/fbt/elfmanifest.py
  site_scons/fbt/sdk.py
  site_scons/fbt/version.py
  site_scons/site_tools/fbt_sdk.py
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @drunkbatya, @nminaylov, @Skorpionm

[FL-2674] Show error popup when NFC chip is not init/disconnected (#1722)
  applications/main/nfc/nfc.c
  applications/main/nfc/nfc_i.h
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_nfc.c
  firmware/targets/furi_hal_include/furi_hal_nfc.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

[FL-2674] Show error popup when NFC chip is not init/disconnected (#1722)
  applications/main/nfc/nfc.c
  applications/main/nfc/nfc_i.h
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_nfc.c
  firmware/targets/furi_hal_include/furi_hal_nfc.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

[FL-2815, FL-2821] Dummy mode (#1739)
  applications/main/archive/helpers/archive_browser.c
  applications/services/desktop/desktop.c
  applications/services/desktop/desktop_i.h
  applications/services/desktop/desktop_settings.h
  applications/services/desktop/helpers/pin_lock.c
  applications/services/desktop/scenes/desktop_scene_lock_menu.c
  applications/services/desktop/scenes/desktop_scene_locked.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/desktop/views/desktop_events.h
  applications/services/desktop/views/desktop_view_lock_menu.c
  applications/services/desktop/views/desktop_view_lock_menu.h
  applications/services/desktop/views/desktop_view_main.c
  applications/services/desktop/views/desktop_view_main.h
  applications/settings/desktop_settings/desktop_settings_app.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_auth.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_disable.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_setup_done.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_start.c
  assets/icons/StatusBar/GameMode_11x8.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

[FL-2815, FL-2821] Dummy mode (#1739)
  applications/main/archive/helpers/archive_browser.c
  applications/services/desktop/desktop.c
  applications/services/desktop/desktop_i.h
  applications/services/desktop/desktop_settings.h
  applications/services/desktop/helpers/pin_lock.c
  applications/services/desktop/scenes/desktop_scene_lock_menu.c
  applications/services/desktop/scenes/desktop_scene_locked.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/desktop/views/desktop_events.h
  applications/services/desktop/views/desktop_view_lock_menu.c
  applications/services/desktop/views/desktop_view_lock_menu.h
  applications/services/desktop/views/desktop_view_main.c
  applications/services/desktop/views/desktop_view_main.h
  applications/settings/desktop_settings/desktop_settings_app.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_auth.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_disable.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_setup_done.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_start.c
  assets/icons/StatusBar/GameMode_11x8.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

RFID: fix read info screen (#1723)
  applications/main/lfrfid/scenes/lfrfid_scene_read_success.c
  lib/lfrfid/protocols/protocol_awid.c
  lib/lfrfid/protocols/protocol_em4100.c
  lib/lfrfid/protocols/protocol_fdx_a.c
  lib/lfrfid/protocols/protocol_fdx_b.c
  lib/lfrfid/protocols/protocol_gallagher.c
  lib/lfrfid/protocols/protocol_h10301.c
  lib/lfrfid/protocols/protocol_hid_ex_generic.c
  lib/lfrfid/protocols/protocol_hid_generic.c
  lib/lfrfid/protocols/protocol_io_prox_xsf.c
  lib/lfrfid/protocols/protocol_jablotron.c
  lib/lfrfid/protocols/protocol_pac_stanley.c
  lib/lfrfid/protocols/protocol_paradox.c
  lib/lfrfid/protocols/protocol_pyramid.c
  lib/lfrfid/protocols/protocol_viking.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

RFID: fix read info screen (#1723)
  applications/main/lfrfid/scenes/lfrfid_scene_read_success.c
  lib/lfrfid/protocols/protocol_awid.c
  lib/lfrfid/protocols/protocol_em4100.c
  lib/lfrfid/protocols/protocol_fdx_a.c
  lib/lfrfid/protocols/protocol_fdx_b.c
  lib/lfrfid/protocols/protocol_gallagher.c
  lib/lfrfid/protocols/protocol_h10301.c
  lib/lfrfid/protocols/protocol_hid_ex_generic.c
  lib/lfrfid/protocols/protocol_hid_generic.c
  lib/lfrfid/protocols/protocol_io_prox_xsf.c
  lib/lfrfid/protocols/protocol_jablotron.c
  lib/lfrfid/protocols/protocol_pac_stanley.c
  lib/lfrfid/protocols/protocol_paradox.c
  lib/lfrfid/protocols/protocol_pyramid.c
  lib/lfrfid/protocols/protocol_viking.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

# Apps
/applications/debug/bt_debug_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/accessor/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/battery_test_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/bt_debug_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/file_browser_test/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/lfrfid_debug/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/text_box_test/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/uart_echo/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/usb_mouse/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/usb_test/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/main/archive/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/bad_usb/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/gpio/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/ibutton/ @skotopes @DrZlo13 @hedger @gsurkov
/applications/main/infrared/ @skotopes @DrZlo13 @hedger @gsurkov
/applications/main/nfc/ @skotopes @DrZlo13 @hedger @gornekich
/applications/main/subghz/ @skotopes @DrZlo13 @hedger @Skorpionm
/applications/main/u2f/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/plugins/bt_hid_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/plugins/picopass/ @skotopes @DrZlo13 @hedger @gornekich

/applications/services/bt/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/cli/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/crypto/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/desktop/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/dolphin/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/power/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/rpc/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/services/bt_settings_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/desktop_settings/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/dolphin_passport/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/power_settings_app/ @skotopes @DrZlo13 @hedger @gornekich

/applications/system/storage_move_to_sd/ @skotopes @DrZlo13 @hedger @nminaylov

# Documentation
/documentation/ @skotopes @DrZlo13 @hedger @drunkbatya
/scripts/toolchain/ @skotopes @DrZlo13 @hedger @drunkbatya

# Lib
/lib/ST25RFAL002/ @skotopes @DrZlo13 @hedger @gornekich
/lib/STM32CubeWB/ @skotopes @DrZlo13 @hedger @gornekich
/lib/digital_signal/ @skotopes @DrZlo13 @hedger @gornekich
/lib/infrared/ @skotopes @DrZlo13 @hedger @gsurkov
/lib/lfrfid/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/libusb_stm32/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/mbedtls/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/micro-ecc/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/nanopb/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/nfc/ @skotopes @DrZlo13 @hedger @gornekich
/lib/one_wire/ @skotopes @DrZlo13 @hedger @gsurkov
/lib/subghz/ @skotopes @DrZlo13 @hedger @Skorpionm
