Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @gornekich, @itsyourbedtime, @albkharisov

.github/CODEOWNERS:

# Who owns all the code by default

* @skotopes @DrZlo13

# Applications
applications/** @skotopes @DrZlo13
applications/accessor/** @skotopes @DrZlo13
applications/app-loader/** @skotopes @DrZlo13 @gornekich
applications/bt/** @skotopes @DrZlo13
applications/cli/** @skotopes @DrZlo13
applications/dolphin/** @skotopes @DrZlo13 @itsyourbedtime
applications/gpio-tester/** @skotopes @DrZlo13
applications/gui/** @skotopes @DrZlo13
applications/gui-test/** @skotopes @DrZlo13
applications/ibutton/** @skotopes @DrZlo13
applications/input/** @skotopes @DrZlo13
applications/irda/** @skotopes @DrZlo13 @albkharisov
applications/lf-rfid/** @skotopes @DrZlo13
applications/menu/** @skotopes @DrZlo13
applications/music-player/** @skotopes @DrZlo13
applications/nfc/** @skotopes @DrZlo13 @gornekich
applications/power/** @skotopes @DrZlo13
applications/sd-card-test/** @skotopes @DrZlo13
applications/sd-filesystem/** @skotopes @DrZlo13
applications/subghz/** @skotopes @DrZlo13
applications/template/** @skotopes @DrZlo13
applications/tests/** @skotopes @DrZlo13

# Assets and asset generator
assets/** @skotopes @DrZlo13

# Bootloader
bootloader/** @skotopes @DrZlo13

# Core, HAL and applocation loader
core/** @skotopes @DrZlo13

# Debug tools
debug/** @skotopes @DrZlo13

# Firmware
firmware/** @skotopes @DrZlo13

# Lib
lib/app-template/** @skotopes @DrZlo13
lib/callback-connector/** @skotopes @DrZlo13
lib/common-api/** @skotopes @DrZlo13
lib/cyfral/** @skotopes @DrZlo13
lib/drivers/** @skotopes @DrZlo13 @gornekich
lib/fatfs/** @skotopes @DrZlo13
lib/fnv1a-hash/** @skotopes @DrZlo13
lib/littlefs/** @skotopes @DrZlo13
lib/mlib/** @skotopes @DrZlo13
lib/onewire/** @skotopes @DrZlo13
lib/qrcode/** @skotopes @DrZlo13
lib/ST25RFAL002/** @skotopes @DrZlo13 @gornekich
lib/STM32CubeWB/** @skotopes @DrZlo13
lib/u8g2/** @skotopes @DrZlo13
lib/version/** @skotopes @DrZlo13

# Make
make/** @skotopes @DrZlo13

[FL-1288] Additional gpio_set pins for testing (#508)
  applications/cli/cli.c
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1288] Additional gpio_set pins for testing (#508)
  applications/cli/cli.c
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

prevent "enter/save" key callback if string is empty (#509)
  applications/gui/modules/text_input.c
Owners: @skotopes, @DrZlo13

prevent "enter/save" key callback if string is empty (#509)
  applications/gui/modules/text_input.c
Owners: @skotopes, @DrZlo13

menu: drop left/right keys navigation (#510)
  applications/menu/menu.c
  applications/menu/menu_event.c
Owners: @skotopes, @DrZlo13

menu: drop left/right keys navigation (#510)
  applications/menu/menu.c
  applications/menu/menu_event.c
Owners: @skotopes, @DrZlo13

[FL-1409] Flipper name in reports (#507)
  firmware/targets/api-hal-include/api-hal-version.h
  firmware/targets/f5/Src/usbd_desc.c
  firmware/targets/f5/api-hal/api-hal-version.c
  firmware/targets/f5/ble-glue/app_ble.c
  firmware/targets/f5/ble-glue/dis_app.c
  firmware/targets/f5/ble-glue/dis_app.h
  firmware/targets/f6/Src/usbd_desc.c
  firmware/targets/f6/api-hal/api-hal-version.c
  firmware/targets/f6/ble-glue/app_ble.c
  firmware/targets/f6/ble-glue/dis_app.c
  firmware/targets/f6/ble-glue/dis_app.h
Owners: @skotopes, @DrZlo13

[FL-1409] Flipper name in reports (#507)
  firmware/targets/api-hal-include/api-hal-version.h
  firmware/targets/f5/Src/usbd_desc.c
  firmware/targets/f5/api-hal/api-hal-version.c
  firmware/targets/f5/ble-glue/app_ble.c
  firmware/targets/f5/ble-glue/dis_app.c
  firmware/targets/f5/ble-glue/dis_app.h
  firmware/targets/f6/Src/usbd_desc.c
  firmware/targets/f6/api-hal/api-hal-version.c
  firmware/targets/f6/ble-glue/app_ble.c
  firmware/targets/f6/ble-glue/dis_app.c
  firmware/targets/f6/ble-glue/dis_app.h
Owners: @skotopes, @DrZlo13

archive: file extension removed in rename menu (#511)
  applications/archive/archive.c
  applications/archive/archive_views.c
  applications/archive/archive_views.h
Owners: @skotopes, @DrZlo13

archive: file extension removed in rename menu (#511)
  applications/archive/archive.c
  applications/archive/archive_views.c
  applications/archive/archive_views.h
Owners: @skotopes, @DrZlo13

Subghz packet test (#512)
  applications/subghz/subghz_cli.c
  firmware/targets/api-hal-include/api-hal-subghz.h
  firmware/targets/f5/api-hal/api-hal-subghz.c
  firmware/targets/f6/api-hal/api-hal-subghz.c
  lib/drivers/cc1101.c
  lib/drivers/cc1101.h
  lib/drivers/cc1101_regs.h
Owners: @skotopes, @DrZlo13, @gornekich

Subghz packet test (#512)
  applications/subghz/subghz_cli.c
  firmware/targets/api-hal-include/api-hal-subghz.h
  firmware/targets/f5/api-hal/api-hal-subghz.c
  firmware/targets/f6/api-hal/api-hal-subghz.c
  lib/drivers/cc1101.c
  lib/drivers/cc1101.h
  lib/drivers/cc1101_regs.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1369, FL-1397, FL-1420] IRDA + SDcard (#513)
  applications/applications.c
  applications/gui/elements.c
  applications/gui/modules/button_menu.c
  applications/gui/modules/button_menu.h
  applications/gui/modules/submenu.c
  applications/irda/cli/irda-cli.cpp
  applications/irda/irda-app-remote-manager.cpp
  applications/irda/irda-app-remote-manager.hpp
  applications/irda/irda-app.cpp
  applications/irda/irda-app.hpp
  applications/irda/scene/irda-app-scene-edit-delete.cpp
  applications/irda/scene/irda-app-scene-edit-key-select.cpp
  applications/irda/scene/irda-app-scene-edit-rename.cpp
  applications/irda/scene/irda-app-scene-edit.cpp
  applications/irda/scene/irda-app-scene-learn-enter-name.cpp
  applications/irda/scene/irda-app-scene-learn-success.cpp
  applications/irda/scene/irda-app-scene-learn.cpp
  applications/irda/scene/irda-app-scene-remote-list.cpp
  applications/irda/scene/irda-app-scene-remote.cpp
  applications/irda/scene/irda-app-scene-start.cpp
  applications/irda/scene/irda-app-scene-universal.cpp
  applications/irda/scene/irda-app-scene.hpp
  applications/notification/notification-messages-notes.c
  applications/notification/notification-messages-notes.h
  applications/notification/notification-messages.c
  applications/notification/notification-messages.h
  firmware/targets/api-hal-include/api-hal-irda.h
  firmware/targets/f5/api-hal/api-hal-irda.c
  firmware/targets/f6/api-hal/api-hal-irda.c
  lib/irda/irda.c
  lib/irda/irda.h
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1369, FL-1397, FL-1420] IRDA + SDcard (#513)
  applications/applications.c
  applications/gui/elements.c
  applications/gui/modules/button_menu.c
  applications/gui/modules/button_menu.h
  applications/gui/modules/submenu.c
  applications/irda/cli/irda-cli.cpp
  applications/irda/irda-app-remote-manager.cpp
  applications/irda/irda-app-remote-manager.hpp
  applications/irda/irda-app.cpp
  applications/irda/irda-app.hpp
  applications/irda/scene/irda-app-scene-edit-delete.cpp
  applications/irda/scene/irda-app-scene-edit-key-select.cpp
  applications/irda/scene/irda-app-scene-edit-rename.cpp
  applications/irda/scene/irda-app-scene-edit.cpp
  applications/irda/scene/irda-app-scene-learn-enter-name.cpp
  applications/irda/scene/irda-app-scene-learn-success.cpp
  applications/irda/scene/irda-app-scene-learn.cpp
  applications/irda/scene/irda-app-scene-remote-list.cpp
  applications/irda/scene/irda-app-scene-remote.cpp
  applications/irda/scene/irda-app-scene-start.cpp
  applications/irda/scene/irda-app-scene-universal.cpp
  applications/irda/scene/irda-app-scene.hpp
  applications/notification/notification-messages-notes.c
  applications/notification/notification-messages-notes.h
  applications/notification/notification-messages.c
  applications/notification/notification-messages.h
  firmware/targets/api-hal-include/api-hal-irda.h
  firmware/targets/f5/api-hal/api-hal-irda.c
  firmware/targets/f6/api-hal/api-hal-irda.c
  lib/irda/irda.c
  lib/irda/irda.h
Owners: @skotopes, @DrZlo13, @albkharisov

Api HAL rfid: fix power consumption on f6 board (#516)
  firmware/targets/f6/api-hal/api-hal-rfid.c
Owners: @skotopes, @DrZlo13

Api HAL rfid: fix power consumption on f6 board (#516)
  firmware/targets/f6/api-hal/api-hal-rfid.c
Owners: @skotopes, @DrZlo13

[FL-1063} LF-RFID Cli (#515)
  applications/applications.c
  applications/lf-rfid/helpers/key-info.cpp
  applications/lf-rfid/helpers/key-info.h
  applications/lf-rfid/helpers/rfid-reader.cpp
  applications/lf-rfid/helpers/rfid-timer-emulator.cpp
  applications/lf-rfid/helpers/rfid-timer-emulator.h
  applications/lf-rfid/lf-rfid-cli.cpp
  applications/lf-rfid/scene/lf-rfid-scene-emulate-emmarine.cpp
  applications/lf-rfid/scene/lf-rfid-scene-emulate-emmarine.h
  applications/lf-rfid/scene/lf-rfid-scene-emulate-hid.cpp
  applications/lf-rfid/scene/lf-rfid-scene-emulate-hid.h
  applications/lf-rfid/scene/lf-rfid-scene-emulate-indala.cpp
  applications/lf-rfid/scene/lf-rfid-scene-emulate-indala.h
  applications/lf-rfid/scene/lf-rfid-scene-read-normal.cpp
  applications/lf-rfid/scene/lf-rfid-scene-write.cpp
  lib/args/args.c
  lib/args/args.h
  lib/lib.mk
Owners: @skotopes, @DrZlo13

[FL-1063} LF-RFID Cli (#515)
  applications/applications.c
  applications/lf-rfid/helpers/key-info.cpp
  applications/lf-rfid/helpers/key-info.h
  applications/lf-rfid/helpers/rfid-reader.cpp
  applications/lf-rfid/helpers/rfid-timer-emulator.cpp
  applications/lf-rfid/helpers/rfid-timer-emulator.h
  applications/lf-rfid/lf-rfid-cli.cpp
  applications/lf-rfid/scene/lf-rfid-scene-emulate-emmarine.cpp
  applications/lf-rfid/scene/lf-rfid-scene-emulate-emmarine.h
  applications/lf-rfid/scene/lf-rfid-scene-emulate-hid.cpp
  applications/lf-rfid/scene/lf-rfid-scene-emulate-hid.h
  applications/lf-rfid/scene/lf-rfid-scene-emulate-indala.cpp
  applications/lf-rfid/scene/lf-rfid-scene-emulate-indala.h
  applications/lf-rfid/scene/lf-rfid-scene-read-normal.cpp
  applications/lf-rfid/scene/lf-rfid-scene-write.cpp
  lib/args/args.c
  lib/args/args.h
  lib/lib.mk
Owners: @skotopes, @DrZlo13

[FL-1424] NFC emulate CLI command (#514)
  applications/nfc/nfc.c
  applications/nfc/nfc_cli.c
  applications/nfc/nfc_cli.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_worker.c
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1424] NFC emulate CLI command (#514)
  applications/nfc/nfc.c
  applications/nfc/nfc_cli.c
  applications/nfc/nfc_cli.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_worker.c
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
Owners: @skotopes, @DrZlo13, @gornekich

C++ apps: templated scene controller (#517)
  applications/applications.c
  applications/gui/modules/byte_input.h
  applications/gui/modules/text_input.h
  applications/scened-app-example/scene/scened-app-scene-byte-input.cpp
  applications/scened-app-example/scene/scened-app-scene-byte-input.h
  applications/scened-app-example/scene/scened-app-scene-start.cpp
  applications/scened-app-example/scene/scened-app-scene-start.h
  applications/scened-app-example/scened-app-launcher.cpp
  applications/scened-app-example/scened-app.cpp
  applications/scened-app-example/scened-app.h
  core/furi.h
  lib/app-scened-template/generic-scene.hpp
  lib/app-scened-template/record-controller.hpp
  lib/app-scened-template/scene-controller.hpp
  lib/app-scened-template/text-store.cpp
  lib/app-scened-template/text-store.h
  lib/app-scened-template/typeindex_no_rtti.hpp
  lib/app-scened-template/view-controller.hpp
  lib/app-scened-template/view-modules/byte-input-vm.cpp
  lib/app-scened-template/view-modules/byte-input-vm.h
  lib/app-scened-template/view-modules/dialog-ex-vm.cpp
  lib/app-scened-template/view-modules/dialog-ex-vm.h
  lib/app-scened-template/view-modules/generic-view-module.h
  lib/app-scened-template/view-modules/popup-vm.cpp
  lib/app-scened-template/view-modules/popup-vm.h
  lib/app-scened-template/view-modules/submenu-vm.cpp
  lib/app-scened-template/view-modules/submenu-vm.h
  lib/app-scened-template/view-modules/text-input-vm.cpp
  lib/app-scened-template/view-modules/text-input-vm.h
  lib/lib.mk
Owners: @skotopes, @DrZlo13

C++ apps: templated scene controller (#517)
  applications/applications.c
  applications/gui/modules/byte_input.h
  applications/gui/modules/text_input.h
  applications/scened-app-example/scene/scened-app-scene-byte-input.cpp
  applications/scened-app-example/scene/scened-app-scene-byte-input.h
  applications/scened-app-example/scene/scened-app-scene-start.cpp
  applications/scened-app-example/scene/scened-app-scene-start.h
  applications/scened-app-example/scened-app-launcher.cpp
  applications/scened-app-example/scened-app.cpp
  applications/scened-app-example/scened-app.h
  core/furi.h
  lib/app-scened-template/generic-scene.hpp
  lib/app-scened-template/record-controller.hpp
  lib/app-scened-template/scene-controller.hpp
  lib/app-scened-template/text-store.cpp
  lib/app-scened-template/text-store.h
  lib/app-scened-template/typeindex_no_rtti.hpp
  lib/app-scened-template/view-controller.hpp
  lib/app-scened-template/view-modules/byte-input-vm.cpp
  lib/app-scened-template/view-modules/byte-input-vm.h
  lib/app-scened-template/view-modules/dialog-ex-vm.cpp
  lib/app-scened-template/view-modules/dialog-ex-vm.h
  lib/app-scened-template/view-modules/generic-view-module.h
  lib/app-scened-template/view-modules/popup-vm.cpp
  lib/app-scened-template/view-modules/popup-vm.h
  lib/app-scened-template/view-modules/submenu-vm.cpp
  lib/app-scened-template/view-modules/submenu-vm.h
  lib/app-scened-template/view-modules/text-input-vm.cpp
  lib/app-scened-template/view-modules/text-input-vm.h
  lib/lib.mk
Owners: @skotopes, @DrZlo13

[FL-662] Read Mifare Ultralight (#518)
  applications/nfc/nfc.c
  applications/nfc/nfc_i.h
  applications/nfc/nfc_types.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_views.h
  applications/nfc/nfc_worker.c
  applications/nfc/nfc_worker_i.h
  lib/nfc_protocols/emv_decoder.h
  lib/nfc_protocols/mifare_ultralight.c
  lib/nfc_protocols/mifare_ultralight.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-662] Read Mifare Ultralight (#518)
  applications/nfc/nfc.c
  applications/nfc/nfc_i.h
  applications/nfc/nfc_types.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_views.h
  applications/nfc/nfc_worker.c
  applications/nfc/nfc_worker_i.h
  lib/nfc_protocols/emv_decoder.h
  lib/nfc_protocols/mifare_ultralight.c
  lib/nfc_protocols/mifare_ultralight.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1441] ApiHalVcp: use DTR signal for ready flag. Fix memory leak in subghz. (#519)
  applications/subghz/subghz.c
  firmware/targets/f5/api-hal/api-hal-vcp.c
  firmware/targets/f6/api-hal/api-hal-vcp.c
Owners: @skotopes, @DrZlo13

[FL-1441] ApiHalVcp: use DTR signal for ready flag. Fix memory leak in subghz. (#519)
  applications/subghz/subghz.c
  firmware/targets/f5/api-hal/api-hal-vcp.c
  firmware/targets/f6/api-hal/api-hal-vcp.c
Owners: @skotopes, @DrZlo13

[FL-1442] Fix nfc emulation (#520)
  applications/nfc/nfc_cli.c
  applications/nfc/nfc_worker.c
  firmware/targets/api-hal-include/api-hal-nfc.h
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1442] Fix nfc emulation (#520)
  applications/nfc/nfc_cli.c
  applications/nfc/nfc_worker.c
  firmware/targets/api-hal-include/api-hal-nfc.h
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1419] new iButton cli (#521)
  applications/applications.c
  applications/ibutton/helpers/key-emulator.cpp
  applications/ibutton/helpers/key-worker.cpp
  applications/ibutton/helpers/key-worker.h
  applications/ibutton/helpers/key-writer.cpp
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/ibutton/ibutton-cli.cpp
  applications/ibutton/scene/ibutton-scene-cli-emulate.cpp
  applications/ibutton/scene/ibutton-scene-cli-emulate.h
  applications/ibutton/scene/ibutton-scene-cli-read.cpp
  applications/ibutton/scene/ibutton-scene-cli-read.h
  applications/ibutton/scene/ibutton-scene-cli-write.cpp
  applications/ibutton/scene/ibutton-scene-cli-write.h
Owners: @skotopes, @DrZlo13

[FL-1419] new iButton cli (#521)
  applications/applications.c
  applications/ibutton/helpers/key-emulator.cpp
  applications/ibutton/helpers/key-worker.cpp
  applications/ibutton/helpers/key-worker.h
  applications/ibutton/helpers/key-writer.cpp
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/ibutton/ibutton-cli.cpp
  applications/ibutton/scene/ibutton-scene-cli-emulate.cpp
  applications/ibutton/scene/ibutton-scene-cli-emulate.h
  applications/ibutton/scene/ibutton-scene-cli-read.cpp
  applications/ibutton/scene/ibutton-scene-cli-read.h
  applications/ibutton/scene/ibutton-scene-cli-write.cpp
  applications/ibutton/scene/ibutton-scene-cli-write.h
Owners: @skotopes, @DrZlo13

Update readme to match new release folder (#522)
  ReadMe.md
Owners: @skotopes, @DrZlo13

Update readme to match new release folder (#522)
  ReadMe.md
Owners: @skotopes, @DrZlo13

App iButton: fix cli delete command bug, use RAII records (#523)
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
Owners: @skotopes, @DrZlo13

App iButton: fix cli delete command bug, use RAII records (#523)
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
Owners: @skotopes, @DrZlo13

[FL-1413] Fix boot/fw version mix #524
  applications/dolphin/dolphin_views.c
Owners: @skotopes, @DrZlo13, @itsyourbedtime

[FL-1413] Fix boot/fw version mix #524
  applications/dolphin/dolphin_views.c
Owners: @skotopes, @DrZlo13, @itsyourbedtime

[FL-1338] Initialize USB as soon as possible, fix usb stack lockup #525
  firmware/targets/f5/Src/main.c
  firmware/targets/f6/Src/main.c
Owners: @skotopes, @DrZlo13

[FL-1338] Initialize USB as soon as possible, fix usb stack lockup #525
  firmware/targets/f5/Src/main.c
  firmware/targets/f6/Src/main.c
Owners: @skotopes, @DrZlo13

[FL-1457] Update link to release (#527)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

[FL-1457] Update link to release (#527)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13
