Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glitchcore, @skotopes, @DrZlo13

add pull request template
  .github/pull_request_template.md
Owners: @glitchcore

add pull request template
  .github/pull_request_template.md
Owners: @glitchcore

Bootloader: LSE/RTC shenanigans, morse error codes, new LED color scheme (#293)
  bootloader/targets/f4/target.c
  bootloader/targets/f4/target.mk
Owners: @skotopes

Bootloader: LSE/RTC shenanigans, morse error codes, new LED color scheme (#293)
  bootloader/targets/f4/target.c
  bootloader/targets/f4/target.mk
Owners: @skotopes

grammar fix of template (#294)
  .github/pull_request_template.md
Owners: @glitchcore

grammar fix of template (#294)
  .github/pull_request_template.md
Owners: @glitchcore

Power: set smps clock according to used inductor. RTC: do not reset clock on each start. (#281)
  firmware/targets/f4/Src/main.c
  firmware/targets/f4/Src/rtc.c
  firmware/targets/f4/f4.ioc
Owners: @glitchcore

Power: set smps clock according to used inductor. RTC: do not reset clock on each start. (#281)
  firmware/targets/f4/Src/main.c
  firmware/targets/f4/Src/rtc.c
  firmware/targets/f4/f4.ioc
Owners: @glitchcore

Sh runner (#292)
  .github/workflows/ci.yml
Owners: @glitchcore

Sh runner (#292)
  .github/workflows/ci.yml
Owners: @glitchcore

Sh runner (#295)
  .github/workflows/ci.yml
Owners: @glitchcore

Sh runner (#295)
  .github/workflows/ci.yml
Owners: @glitchcore

Sh runner (#297)
  .github/workflows/ci.yml
Owners: @glitchcore

Sh runner (#297)
  .github/workflows/ci.yml
Owners: @glitchcore

[FL-572][FL-577] Irda receive feature (#282)
  applications/applications.mk
  applications/irda/irda-decoder/irda-decoder-nec.c
  applications/irda/irda-decoder/irda-decoder-nec.h
  applications/irda/irda-decoder/irda-decoder-types.h
  applications/irda/irda-decoder/irda-decoder.c
  applications/irda/irda-decoder/irda-decoder.h
  applications/irda/irda.c
  applications/irda/irda_nec.c
  applications/irda/irda_nec.h
  core/api-hal/api-interrupt-mgr.h
  firmware/targets/f4/api-hal/api-hal-tim.c
  firmware/targets/f4/api-hal/api-interrupts.c
Owners: @glitchcore, @DrZlo13

[FL-572][FL-577] Irda receive feature (#282)
  applications/applications.mk
  applications/irda/irda-decoder/irda-decoder-nec.c
  applications/irda/irda-decoder/irda-decoder-nec.h
  applications/irda/irda-decoder/irda-decoder-types.h
  applications/irda/irda-decoder/irda-decoder.c
  applications/irda/irda-decoder/irda-decoder.h
  applications/irda/irda.c
  applications/irda/irda_nec.c
  applications/irda/irda_nec.h
  core/api-hal/api-interrupt-mgr.h
  firmware/targets/f4/api-hal/api-hal-tim.c
  firmware/targets/f4/api-hal/api-interrupts.c
Owners: @glitchcore, @DrZlo13

FL-528 GUI: View, ViewDispather. Dolphin: first start. (#276)
  applications/dolphin/dolphin.c
  applications/dolphin/dolphin.h
  applications/dolphin/dolphin_i.h
  applications/dolphin/dolphin_state.c
  applications/dolphin/dolphin_state.h
  applications/dolphin/dolphin_views.c
  applications/dolphin/dolphin_views.h
  applications/gui/canvas.c
  applications/gui/canvas.h
  applications/gui/view.c
  applications/gui/view.h
  applications/gui/view_dispatcher.c
  applications/gui/view_dispatcher.h
  applications/gui/view_dispatcher_i.h
  applications/gui/view_i.h
  applications/gui/widget.h
  applications/power/power.c
  applications/power/power_views.c
  applications/power/power_views.h
  assets/assets.py
  assets/icons/Dolphin/DolphinFirstStart0_128x54.png
  assets/icons/Dolphin/DolphinFirstStart1_128x54.png
  assets/icons/Dolphin/DolphinFirstStart2_128x54.png
  assets/icons/Dolphin/DolphinFirstStart3_128x54.png
  assets/icons/Dolphin/DolphinFirstStart4_128x54.png
  assets/icons/Dolphin/DolphinFirstStart5_128x54.png
  assets/icons/Dolphin/DolphinFirstStart6_128x54.png
  assets/icons/Dolphin/DolphinFirstStart7_128x54.png
  assets/icons/Dolphin/DolphinFirstStart8_128x54.png
  firmware/targets/f4/Src/main.c
  firmware/targets/f4/api-hal/api-hal-flash.c
  firmware/targets/f4/api-hal/api-hal-flash.h
  make/rules.mk
Owners: @skotopes, @glitchcore

FL-528 GUI: View, ViewDispather. Dolphin: first start. (#276)
  applications/dolphin/dolphin.c
  applications/dolphin/dolphin.h
  applications/dolphin/dolphin_i.h
  applications/dolphin/dolphin_state.c
  applications/dolphin/dolphin_state.h
  applications/dolphin/dolphin_views.c
  applications/dolphin/dolphin_views.h
  applications/gui/canvas.c
  applications/gui/canvas.h
  applications/gui/view.c
  applications/gui/view.h
  applications/gui/view_dispatcher.c
  applications/gui/view_dispatcher.h
  applications/gui/view_dispatcher_i.h
  applications/gui/view_i.h
  applications/gui/widget.h
  applications/power/power.c
  applications/power/power_views.c
  applications/power/power_views.h
  assets/assets.py
  assets/icons/Dolphin/DolphinFirstStart0_128x54.png
  assets/icons/Dolphin/DolphinFirstStart1_128x54.png
  assets/icons/Dolphin/DolphinFirstStart2_128x54.png
  assets/icons/Dolphin/DolphinFirstStart3_128x54.png
  assets/icons/Dolphin/DolphinFirstStart4_128x54.png
  assets/icons/Dolphin/DolphinFirstStart5_128x54.png
  assets/icons/Dolphin/DolphinFirstStart6_128x54.png
  assets/icons/Dolphin/DolphinFirstStart7_128x54.png
  assets/icons/Dolphin/DolphinFirstStart8_128x54.png
  firmware/targets/f4/Src/main.c
  firmware/targets/f4/api-hal/api-hal-flash.c
  firmware/targets/f4/api-hal/api-hal-flash.h
  make/rules.mk
Owners: @skotopes, @glitchcore

Remove old unused L4 cube (#298)
  .gitmodules
Owners: @glitchcore

Remove old unused L4 cube (#298)
  .gitmodules
Owners: @glitchcore

Debug: add openocd freertos support (#302)
  firmware/targets/f4/target.mk
Owners: @glitchcore

Debug: add openocd freertos support (#302)
  firmware/targets/f4/target.mk
Owners: @glitchcore

GUI: fix issue with gui update on view draw (#301)
  applications/gui/view.c
  applications/gui/view_i.h
Owners: @skotopes

GUI: fix issue with gui update on view draw (#301)
  applications/gui/view.c
  applications/gui/view_i.h
Owners: @skotopes

.github/CODEOWNERS:

# CTO owns all the code by default

* @glitchcore

# unknow applications

applications/** @glitchcore

# assets and asset generator

assets/** @skotopes

# bootloader

bootloader/** @skotopes
firmware/targets/f4/api-hal/api-hal-boot.c @skotopes

# debug tools

debug/** @skotopes

# local target

firmware/targets/local/** @glitchcore

# BLE

firmware/targets/f4/ble-glue/** @skotopes
applications/bt/** @skotopes

# Sub-GHz

applications/cc1101-workaround/** @glitchcore

# Dolphin

applications/dolphin/** @skotopes

# GUI Stuff

applications/gui/** @skotopes

# iButton

applications/ibutton/** @DrZlo13

# IR

applications/irda/** @DrZlo13

# LF RFID

applications/lf-rfid/** @glitchcore

# Menu

applications/menu/** @skotopes

# NFC

applications/nfc/** @skotopes

# SD Card

applications/sd-card-test/** @DrZlo13

# Power control app

applications/power/** @skotopes

# Some applications

applications/music-player/** @DrZlo13
applications/floopper-bloopper/** @glitchcore
applications/gpio-tester/** @glitchcore
