Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @gornekich, @nminaylov, @gsurkov, @Skorpionm, @drunkbatya

update universal ac asset
  assets/resources/infrared/assets/ac.ir
Owners: @skotopes, @DrZlo13, @hedger

update universal ac asset
  assets/resources/infrared/assets/ac.ir
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

faploader api extension and lib fixes
  firmware/targets/f7/api_symbols.csv
  firmware/targets/furi_hal_include/furi_hal_power.h
  lib/lfrfid/SConscript
  lib/mbedtls.scons
  lib/subghz/protocols/raw.h
  site_scons/fbt/sdk.py
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov, @Skorpionm

faploader api extension and lib fixes
  firmware/targets/f7/api_symbols.csv
  firmware/targets/furi_hal_include/furi_hal_power.h
  lib/lfrfid/SConscript
  lib/mbedtls.scons
  lib/subghz/protocols/raw.h
  site_scons/fbt/sdk.py
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov, @Skorpionm

fix: SubGhz Read reset setting ReadRAW after using scene ReadRAW
  applications/main/subghz/scenes/subghz_scene_decode_raw.c
  applications/main/subghz/scenes/subghz_scene_read_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/subghz_i.h
  applications/main/subghz/subghz_last_setting.c
  applications/main/subghz/subghz_last_setting.h
  applications/main/subghz/subghz_setting.c
  applications/settings/notification_settings/notification_settings_app.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix: SubGhz Read reset setting ReadRAW after using scene ReadRAW
  applications/main/subghz/scenes/subghz_scene_decode_raw.c
  applications/main/subghz/scenes/subghz_scene_read_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/subghz_i.h
  applications/main/subghz/subghz_last_setting.c
  applications/main/subghz/subghz_last_setting.h
  applications/main/subghz/subghz_setting.c
  applications/settings/notification_settings/notification_settings_app.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

drop dfu's from releases
  .drone.yml
  CHANGELOG.md
  documentation/HowToInstall.md
Owners: @skotopes, @DrZlo13, @hedger, @drunkbatya

drop dfu's from releases
  .drone.yml
  CHANGELOG.md
  documentation/HowToInstall.md
Owners: @skotopes, @DrZlo13, @hedger, @drunkbatya

ofw pr: picopass se identify
  applications/plugins/picopass/picopass_device.c
  applications/plugins/picopass/picopass_device.h
  applications/plugins/picopass/picopass_worker.c
  applications/plugins/picopass/picopass_worker.h
  applications/plugins/picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

ofw pr: picopass se identify
  applications/plugins/picopass/picopass_device.c
  applications/plugins/picopass/picopass_device.h
  applications/plugins/picopass/picopass_worker.c
  applications/plugins/picopass/picopass_worker.h
  applications/plugins/picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

fix: change SUBGHZ_HISTORY_MAX to 50 according off-firm
  applications/main/subghz/scenes/subghz_scene_show_error.c
  applications/main/subghz/subghz_history.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix: change SUBGHZ_HISTORY_MAX to 50 according off-firm
  applications/main/subghz/scenes/subghz_scene_show_error.c
  applications/main/subghz/subghz_history.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

secret
  assets/dolphin/external/L3_Fireplace_128x64/frame_0.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_1.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_2.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_3.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_4.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_5.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_6.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_7.png
  assets/dolphin/external/L3_Fireplace_128x64/meta.txt
  assets/dolphin/external/manifest.txt
  assets/resources/dolphin/L3_Fireplace_128x64/frame_0.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_1.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_2.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_3.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_4.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_5.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_6.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_7.bm
  assets/resources/dolphin/L3_Fireplace_128x64/meta.txt
  assets/resources/dolphin/manifest.txt
Owners: @skotopes, @DrZlo13, @hedger

secret
  assets/dolphin/external/L3_Fireplace_128x64/frame_0.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_1.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_2.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_3.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_4.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_5.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_6.png
  assets/dolphin/external/L3_Fireplace_128x64/frame_7.png
  assets/dolphin/external/L3_Fireplace_128x64/meta.txt
  assets/dolphin/external/manifest.txt
  assets/resources/dolphin/L3_Fireplace_128x64/frame_0.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_1.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_2.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_3.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_4.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_5.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_6.bm
  assets/resources/dolphin/L3_Fireplace_128x64/frame_7.bm
  assets/resources/dolphin/L3_Fireplace_128x64/meta.txt
  assets/resources/dolphin/manifest.txt
Owners: @skotopes, @DrZlo13, @hedger

fbt: rebuilding assets when git commit id changes
  assets/SConscript
  site_scons/fbt/version.py
Owners: @skotopes, @DrZlo13, @hedger

fbt: rebuilding assets when git commit id changes
  assets/SConscript
  site_scons/fbt/version.py
Owners: @skotopes, @DrZlo13, @hedger

fix receiver filter set-up
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_history.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix receiver filter set-up
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_history.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

disable some logs
  applications/main/subghz/scenes/subghz_scene_decode_raw.c
  applications/main/subghz/scenes/subghz_scene_read_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/subghz_last_setting.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

disable some logs
  applications/main/subghz/scenes/subghz_scene_decode_raw.c
  applications/main/subghz/scenes/subghz_scene_read_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/subghz_last_setting.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix null pointer dereference
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix null pointer dereference
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Minor changes
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/views/receiver.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Minor changes
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/views/receiver.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

commented back
  applications/main/subghz/subghz_history.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

commented back
  applications/main/subghz/subghz_history.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix config
  applications/main/subghz/scenes/subghz_scene_decode_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix config
  applications/main/subghz/scenes/subghz_scene_decode_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

ofw pr: dummy mode
  applications/main/archive/helpers/archive_browser.c
  applications/services/desktop/desktop.c
  applications/services/desktop/desktop_i.h
  applications/services/desktop/desktop_settings.h
  applications/services/desktop/helpers/pin_lock.c
  applications/services/desktop/scenes/desktop_scene_lock_menu.c
  applications/services/desktop/scenes/desktop_scene_locked.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/desktop/views/desktop_events.h
  applications/services/desktop/views/desktop_view_lock_menu.c
  applications/services/desktop/views/desktop_view_lock_menu.h
  applications/services/desktop/views/desktop_view_main.c
  applications/services/desktop/views/desktop_view_main.h
  applications/services/power/power_service/power.c
  applications/settings/desktop_settings/desktop_settings_app.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_auth.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_disable.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_setup_done.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_start.c
  assets/icons/StatusBar/GameMode_11x8.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov, @gornekich

ofw pr: dummy mode
  applications/main/archive/helpers/archive_browser.c
  applications/services/desktop/desktop.c
  applications/services/desktop/desktop_i.h
  applications/services/desktop/desktop_settings.h
  applications/services/desktop/helpers/pin_lock.c
  applications/services/desktop/scenes/desktop_scene_lock_menu.c
  applications/services/desktop/scenes/desktop_scene_locked.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/desktop/views/desktop_events.h
  applications/services/desktop/views/desktop_view_lock_menu.c
  applications/services/desktop/views/desktop_view_lock_menu.h
  applications/services/desktop/views/desktop_view_main.c
  applications/services/desktop/views/desktop_view_main.h
  applications/services/power/power_service/power.c
  applications/settings/desktop_settings/desktop_settings_app.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_auth.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_disable.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_setup_done.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_start.c
  assets/icons/StatusBar/GameMode_11x8.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov, @gornekich

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

Update ReadMe.md
  ReadMe.md
Owners: @skotopes, @DrZlo13, @hedger

Update ReadMe.md
  ReadMe.md
Owners: @skotopes, @DrZlo13, @hedger

update how to install with animated instructions
  documentation/HowToInstall.md
Owners: @skotopes, @DrZlo13, @hedger, @drunkbatya

update how to install with animated instructions
  documentation/HowToInstall.md
Owners: @skotopes, @DrZlo13, @hedger, @drunkbatya

Trying to fix strange bug
  applications/main/unirfremix/unirfremix_app.c
Owners: @skotopes, @DrZlo13, @hedger

Trying to fix strange bug
  applications/main/unirfremix/unirfremix_app.c
Owners: @skotopes, @DrZlo13, @hedger

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

# Apps
/applications/debug/bt_debug_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/accessor/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/battery_test_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/bt_debug_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/file_browser_test/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/lfrfid_debug/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/text_box_test/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/uart_echo/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/usb_mouse/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/usb_test/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/main/archive/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/bad_usb/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/gpio/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/ibutton/ @skotopes @DrZlo13 @hedger @gsurkov
/applications/main/infrared/ @skotopes @DrZlo13 @hedger @gsurkov
/applications/main/nfc/ @skotopes @DrZlo13 @hedger @gornekich
/applications/main/subghz/ @skotopes @DrZlo13 @hedger @Skorpionm
/applications/main/u2f/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/plugins/bt_hid_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/plugins/picopass/ @skotopes @DrZlo13 @hedger @gornekich

/applications/services/bt/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/cli/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/crypto/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/desktop/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/dolphin/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/power/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/rpc/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/services/bt_settings_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/desktop_settings/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/dolphin_passport/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/power_settings_app/ @skotopes @DrZlo13 @hedger @gornekich

/applications/system/storage_move_to_sd/ @skotopes @DrZlo13 @hedger @nminaylov

# Documentation
/documentation/ @skotopes @DrZlo13 @hedger @drunkbatya
/scripts/toolchain/ @skotopes @DrZlo13 @hedger @drunkbatya

# Lib
/lib/ST25RFAL002/ @skotopes @DrZlo13 @hedger @gornekich
/lib/STM32CubeWB/ @skotopes @DrZlo13 @hedger @gornekich
/lib/digital_signal/ @skotopes @DrZlo13 @hedger @gornekich
/lib/infrared/ @skotopes @DrZlo13 @hedger @gsurkov
/lib/lfrfid/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/libusb_stm32/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/mbedtls/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/micro-ecc/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/nanopb/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/nfc/ @skotopes @DrZlo13 @hedger @gornekich
/lib/one_wire/ @skotopes @DrZlo13 @hedger @gsurkov
/lib/subghz/ @skotopes @DrZlo13 @hedger @Skorpionm
