Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @gornekich, @itsyourbedtime, @albkharisov

.github/CODEOWNERS:

# Who owns all the code by default

* @skotopes @DrZlo13

# Applications
applications/** @skotopes @DrZlo13
applications/accessor/** @skotopes @DrZlo13
applications/app-loader/** @skotopes @DrZlo13 @gornekich
applications/bt/** @skotopes @DrZlo13
applications/cli/** @skotopes @DrZlo13
applications/dolphin/** @skotopes @DrZlo13 @itsyourbedtime
applications/gpio-tester/** @skotopes @DrZlo13
applications/gui/** @skotopes @DrZlo13
applications/gui-test/** @skotopes @DrZlo13
applications/ibutton/** @skotopes @DrZlo13
applications/input/** @skotopes @DrZlo13
applications/irda/** @skotopes @DrZlo13 @albkharisov
applications/lf-rfid/** @skotopes @DrZlo13
applications/menu/** @skotopes @DrZlo13
applications/music-player/** @skotopes @DrZlo13
applications/nfc/** @skotopes @DrZlo13 @gornekich
applications/power/** @skotopes @DrZlo13
applications/sd-card-test/** @skotopes @DrZlo13
applications/sd-filesystem/** @skotopes @DrZlo13
applications/subghz/** @skotopes @DrZlo13
applications/template/** @skotopes @DrZlo13
applications/tests/** @skotopes @DrZlo13

# Assets and asset generator
assets/** @skotopes @DrZlo13

# Bootloader
bootloader/** @skotopes @DrZlo13

# Core, HAL and applocation loader
core/** @skotopes @DrZlo13

# Debug tools
debug/** @skotopes @DrZlo13

# Firmware
firmware/** @skotopes @DrZlo13

# Lib
lib/app-template/** @skotopes @DrZlo13
lib/callback-connector/** @skotopes @DrZlo13
lib/common-api/** @skotopes @DrZlo13
lib/cyfral/** @skotopes @DrZlo13
lib/drivers/** @skotopes @DrZlo13 @gornekich
lib/fatfs/** @skotopes @DrZlo13
lib/fnv1a-hash/** @skotopes @DrZlo13
lib/littlefs/** @skotopes @DrZlo13
lib/mlib/** @skotopes @DrZlo13
lib/onewire/** @skotopes @DrZlo13
lib/qrcode/** @skotopes @DrZlo13
lib/ST25RFAL002/** @skotopes @DrZlo13 @gornekich
lib/STM32CubeWB/** @skotopes @DrZlo13
lib/u8g2/** @skotopes @DrZlo13
lib/version/** @skotopes @DrZlo13

# Make
make/** @skotopes @DrZlo13

view_dispatcher: add custom events (#526)
  applications/gui/view_dispatcher.c
  applications/gui/view_dispatcher.h
  applications/gui/view_dispatcher_i.h
Owners: @skotopes, @DrZlo13

view_dispatcher: add custom events (#526)
  applications/gui/view_dispatcher.c
  applications/gui/view_dispatcher.h
  applications/gui/view_dispatcher_i.h
Owners: @skotopes, @DrZlo13

[FL-1404] iButton long names fix (#528)
  applications/archive/archive_views.c
  applications/gui/elements.c
  applications/gui/modules/file_select.c
  applications/ibutton/helpers/key-info.h
  applications/ibutton/scene/ibutton-scene-delete-confirm.cpp
  applications/ibutton/scene/ibutton-scene-emulate.cpp
  applications/ibutton/scene/ibutton-scene-save-name.cpp
  applications/ibutton/scene/ibutton-scene-write-success.cpp
  applications/ibutton/scene/ibutton-scene-write.cpp
  lib/args/args.c
Owners: @skotopes, @DrZlo13

[FL-1404] iButton long names fix (#528)
  applications/archive/archive_views.c
  applications/gui/elements.c
  applications/gui/modules/file_select.c
  applications/ibutton/helpers/key-info.h
  applications/ibutton/scene/ibutton-scene-delete-confirm.cpp
  applications/ibutton/scene/ibutton-scene-emulate.cpp
  applications/ibutton/scene/ibutton-scene-save-name.cpp
  applications/ibutton/scene/ibutton-scene-write-success.cpp
  applications/ibutton/scene/ibutton-scene-write.cpp
  lib/args/args.c
Owners: @skotopes, @DrZlo13

[FL-1326] Move heap4 allocator to furi core and add allocation tracing capability (#529)
  applications/app-loader/app-loader.c
  core/furi.h
  core/furi/memmgr.c
  core/furi/memmgr_heap.c
  core/furi/memmgr_heap.h
  core/furi/stdglue.c
  core/furi/thread.c
  core/furi/thread.h
  firmware/targets/f5/target.mk
  firmware/targets/f6/target.mk
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1326] Move heap4 allocator to furi core and add allocation tracing capability (#529)
  applications/app-loader/app-loader.c
  core/furi.h
  core/furi/memmgr.c
  core/furi/memmgr_heap.c
  core/furi/memmgr_heap.h
  core/furi/stdglue.c
  core/furi/thread.c
  core/furi/thread.h
  firmware/targets/f5/target.mk
  firmware/targets/f6/target.mk
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1443, FL-1289] Move assets compilation to separate Makefile. Add scripts folder. Add OTP flashing with DFU. (#531)
  applications/cli/cli.c
  assets/Makefile
  assets/ReadMe.md
  assets/assets.mk
  assets/compiled/assets_icons.c
  assets/compiled/assets_icons.h
  assets/compiled/assets_icons_i.h
  assets/output/.gitignore
  bootloader/Makefile
  firmware/Makefile
  flash_core1_main.sh
  make/rules.mk
  scripts/ReadMe.md
  scripts/assets.py
  scripts/flash_core1_main_swd.sh
  scripts/flash_core2_ble_swd.sh
  scripts/flash_otp_version_dfu.sh
  scripts/flash_otp_version_swd.sh
  scripts/flash_wipe_swd.sh
  scripts/ob.py
  scripts/ob_check.data
  scripts/otp.py
  syntax_check.sh
Owners: @skotopes, @DrZlo13

[FL-1443, FL-1289] Move assets compilation to separate Makefile. Add scripts folder. Add OTP flashing with DFU. (#531)
  applications/cli/cli.c
  assets/Makefile
  assets/ReadMe.md
  assets/assets.mk
  assets/compiled/assets_icons.c
  assets/compiled/assets_icons.h
  assets/compiled/assets_icons_i.h
  assets/output/.gitignore
  bootloader/Makefile
  firmware/Makefile
  flash_core1_main.sh
  make/rules.mk
  scripts/ReadMe.md
  scripts/assets.py
  scripts/flash_core1_main_swd.sh
  scripts/flash_core2_ble_swd.sh
  scripts/flash_otp_version_dfu.sh
  scripts/flash_otp_version_swd.sh
  scripts/flash_wipe_swd.sh
  scripts/ob.py
  scripts/ob_check.data
  scripts/otp.py
  syntax_check.sh
Owners: @skotopes, @DrZlo13

[FL-1478] Fix setting PA0 high confirmation dialog #533
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1478] Fix setting PA0 high confirmation dialog #533
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1483] Cli: add time set feature to time command (#536)
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1483] Cli: add time set feature to time command (#536)
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1465] Archive application bug fixes. Gui: update TextInput API. (#530)
  applications/archive/archive.c
  applications/archive/archive_i.h
  applications/archive/archive_views.c
  applications/archive/archive_views.h
  applications/gui-test/gui-test.c
  applications/gui/modules/text_input.c
  applications/gui/modules/text_input.h
  applications/ibutton/scene/ibutton-scene-save-name.cpp
  applications/ibutton/scene/ibutton-scene-save-name.h
  applications/irda/irda-app.cpp
  applications/irda/irda-app.hpp
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1465] Archive application bug fixes. Gui: update TextInput API. (#530)
  applications/archive/archive.c
  applications/archive/archive_i.h
  applications/archive/archive_views.c
  applications/archive/archive_views.h
  applications/gui-test/gui-test.c
  applications/gui/modules/text_input.c
  applications/gui/modules/text_input.h
  applications/ibutton/scene/ibutton-scene-save-name.cpp
  applications/ibutton/scene/ibutton-scene-save-name.h
  applications/irda/irda-app.cpp
  applications/irda/irda-app.hpp
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1447] NFC application refactoring (#532)
  applications/gui/view_dispatcher.c
  applications/nfc/nfc.c
  applications/nfc/nfc_detect.c
  applications/nfc/nfc_detect.h
  applications/nfc/nfc_emulate.c
  applications/nfc/nfc_emulate.h
  applications/nfc/nfc_emv.c
  applications/nfc/nfc_emv.h
  applications/nfc/nfc_i.h
  applications/nfc/nfc_mifare_ul.c
  applications/nfc/nfc_mifare_ul.h
  applications/nfc/nfc_types.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_views.h
  applications/nfc/nfc_worker.c
  applications/nfc/nfc_worker.h
  applications/nfc/nfc_worker_i.h
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1447] NFC application refactoring (#532)
  applications/gui/view_dispatcher.c
  applications/nfc/nfc.c
  applications/nfc/nfc_detect.c
  applications/nfc/nfc_detect.h
  applications/nfc/nfc_emulate.c
  applications/nfc/nfc_emulate.h
  applications/nfc/nfc_emv.c
  applications/nfc/nfc_emv.h
  applications/nfc/nfc_i.h
  applications/nfc/nfc_mifare_ul.c
  applications/nfc/nfc_mifare_ul.h
  applications/nfc/nfc_types.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_views.h
  applications/nfc/nfc_worker.c
  applications/nfc/nfc_worker.h
  applications/nfc/nfc_worker_i.h
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1475] iButton emulate shortcat (#535)
  applications/app-loader/app-loader.c
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/ibutton/ibutton.cpp
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1475] iButton emulate shortcat (#535)
  applications/app-loader/app-loader.c
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/ibutton/ibutton.cpp
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1486] Fix leaks and leak-sanitizer (#538)
  applications/app-loader/app-loader.c
  core/furi/memmgr_heap.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1486] Fix leaks and leak-sanitizer (#538)
  applications/app-loader/app-loader.c
  core/furi/memmgr_heap.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1437] Replace stringstream with sscanf (#540)
  applications/irda/cli/irda-cli.cpp
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1437] Replace stringstream with sscanf (#540)
  applications/irda/cli/irda-cli.cpp
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1477] Archive improvements (#541)
  applications/archive/archive.c
  applications/archive/archive_i.h
  applications/archive/archive_views.c
  applications/archive/archive_views.h
  applications/gui/elements.c
  applications/gui/elements.h
Owners: @skotopes, @DrZlo13

[FL-1477] Archive improvements (#541)
  applications/archive/archive.c
  applications/archive/archive_i.h
  applications/archive/archive_views.c
  applications/archive/archive_views.h
  applications/gui/elements.c
  applications/gui/elements.h
Owners: @skotopes, @DrZlo13

Trigger update reindex after artifacts upload (#542)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

Trigger update reindex after artifacts upload (#542)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

File worker helper. Slightly optimized iButton app code size. (#545)
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/notification/notification-app-api.c
  lib/app-scened-template/file-worker.cpp
  lib/app-scened-template/file-worker.h
Owners: @skotopes, @DrZlo13

File worker helper. Slightly optimized iButton app code size. (#545)
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/notification/notification-app-api.c
  lib/app-scened-template/file-worker.cpp
  lib/app-scened-template/file-worker.h
Owners: @skotopes, @DrZlo13

Clang formatter: add indent to wrapped functions names. (#548)
  .clang-format
  applications/accessor/helpers/wiegand.h
  applications/irda/irda-app-file-parser.cpp
  applications/irda/irda-app-remote-manager.cpp
  applications/menu/menu_item.c
  applications/menu/menu_item.h
  applications/sd-card-test/sd-card-test.cpp
  applications/sd-filesystem/sd-filesystem-api.c
  applications/sd-filesystem/sd-filesystem.h
  applications/tests/irda_decoder/irda_decoder_test.c
  core/api-hal/api-spi.h
Owners: @skotopes, @DrZlo13, @albkharisov

Clang formatter: add indent to wrapped functions names. (#548)
  .clang-format
  applications/accessor/helpers/wiegand.h
  applications/irda/irda-app-file-parser.cpp
  applications/irda/irda-app-remote-manager.cpp
  applications/menu/menu_item.c
  applications/menu/menu_item.h
  applications/sd-card-test/sd-card-test.cpp
  applications/sd-filesystem/sd-filesystem-api.c
  applications/sd-filesystem/sd-filesystem.h
  applications/tests/irda_decoder/irda_decoder_test.c
  core/api-hal/api-spi.h
Owners: @skotopes, @DrZlo13, @albkharisov

Removed app floopper-bloopper and font FontGlyph (#549)
  .gitmodules
  applications/applications.c
  applications/applications.mk
  applications/gui/canvas.c
  applications/gui/canvas.h
  applications/gui/view_port.c
Owners: @skotopes, @DrZlo13

Removed app floopper-bloopper and font FontGlyph (#549)
  .gitmodules
  applications/applications.c
  applications/applications.mk
  applications/gui/canvas.c
  applications/gui/canvas.h
  applications/gui/view_port.c
Owners: @skotopes, @DrZlo13

Scripts: rename ob data file (#550)
  scripts/ob.data
Owners: @skotopes, @DrZlo13

Scripts: rename ob data file (#550)
  scripts/ob.data
Owners: @skotopes, @DrZlo13

[FL-1510] Archive: OK fix (#551)
  applications/archive/archive.c
Owners: @skotopes, @DrZlo13

[FL-1510] Archive: OK fix (#551)
  applications/archive/archive.c
Owners: @skotopes, @DrZlo13

Power: rename reset to reboot (#552)
  applications/power/power.c
  applications/power/power.h
  applications/power/power_cli.c
Owners: @skotopes, @DrZlo13

Power: rename reset to reboot (#552)
  applications/power/power.c
  applications/power/power.h
  applications/power/power_cli.c
Owners: @skotopes, @DrZlo13

[FL-1464] Cli: merge version and hwinfo into device_info (#553)
  applications/cli/cli.c
  applications/cli/cli_commands.c
  applications/dolphin/dolphin_views.c
  core/flipper.c
  firmware/targets/api-hal-include/api-hal-uid.h
  firmware/targets/api-hal-include/api-hal-version.h
  firmware/targets/api-hal-include/api-hal.h
  firmware/targets/f5/api-hal/api-hal-uuid.c
  firmware/targets/f5/api-hal/api-hal-version.c
  firmware/targets/f6/api-hal/api-hal-uuid.c
  firmware/targets/f6/api-hal/api-hal-version.c
Owners: @skotopes, @DrZlo13, @itsyourbedtime

[FL-1464] Cli: merge version and hwinfo into device_info (#553)
  applications/cli/cli.c
  applications/cli/cli_commands.c
  applications/dolphin/dolphin_views.c
  core/flipper.c
  firmware/targets/api-hal-include/api-hal-uid.h
  firmware/targets/api-hal-include/api-hal-version.h
  firmware/targets/api-hal-include/api-hal.h
  firmware/targets/f5/api-hal/api-hal-uuid.c
  firmware/targets/f5/api-hal/api-hal-version.c
  firmware/targets/f6/api-hal/api-hal-uuid.c
  firmware/targets/f6/api-hal/api-hal-version.c
Owners: @skotopes, @DrZlo13, @itsyourbedtime
