Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @gornekich, @nminaylov, @gsurkov, @Skorpionm, @drunkbatya

Picopass: detect and show SE / SIO (#1701)
  applications/plugins/picopass/picopass_device.c
  applications/plugins/picopass/picopass_device.h
  applications/plugins/picopass/picopass_worker.c
  applications/plugins/picopass/picopass_worker.h
  applications/plugins/picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Picopass: detect and show SE / SIO (#1701)
  applications/plugins/picopass/picopass_device.c
  applications/plugins/picopass/picopass_device.h
  applications/plugins/picopass/picopass_worker.c
  applications/plugins/picopass/picopass_worker.h
  applications/plugins/picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

SubGhz: Oregon v2.1 decoder (#1678)
  applications/debug/unit_tests/subghz/subghz_test.c
  assets/unit_tests/subghz/oregon2_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  lib/subghz/protocols/oregon2.c
  lib/subghz/protocols/oregon2.h
  lib/subghz/protocols/registry.c
  lib/subghz/protocols/registry.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

SubGhz: Oregon v2.1 decoder (#1678)
  applications/debug/unit_tests/subghz/subghz_test.c
  assets/unit_tests/subghz/oregon2_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  lib/subghz/protocols/oregon2.c
  lib/subghz/protocols/oregon2.h
  lib/subghz/protocols/registry.c
  lib/subghz/protocols/registry.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

lower frame rate in custom anim to save a bit of battery charge
  assets/dolphin/external/L3_Fireplace_128x64/meta.txt
  assets/resources/dolphin/L3_Fireplace_128x64/meta.txt
Owners: @skotopes, @DrZlo13, @hedger

lower frame rate in custom anim to save a bit of battery charge
  assets/dolphin/external/L3_Fireplace_128x64/meta.txt
  assets/resources/dolphin/L3_Fireplace_128x64/meta.txt
Owners: @skotopes, @DrZlo13, @hedger

Add new card parsers (#1503)
  applications/main/nfc/scenes/nfc_scene_device_info.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_success.c
  applications/main/nfc/scenes/nfc_scene_saved_menu.c
  lib/nfc/nfc_worker.c
  lib/nfc/parsers/all_in_one.c
  lib/nfc/parsers/all_in_one.h
  lib/nfc/parsers/nfc_supported_card.c
  lib/nfc/parsers/nfc_supported_card.h
  lib/nfc/parsers/plantain_4k_parser.c
  lib/nfc/parsers/plantain_4k_parser.h
  lib/nfc/parsers/plantain_parser.c
  lib/nfc/parsers/plantain_parser.h
  lib/nfc/parsers/troika_4k_parser.c
  lib/nfc/parsers/troika_4k_parser.h
  lib/nfc/parsers/troika_parser.c
  lib/nfc/parsers/troika_parser.h
  lib/nfc/parsers/troyka_parser.h
  lib/nfc/parsers/two_cities.c
  lib/nfc/parsers/two_cities.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Add new card parsers (#1503)
  applications/main/nfc/scenes/nfc_scene_device_info.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_success.c
  applications/main/nfc/scenes/nfc_scene_saved_menu.c
  lib/nfc/nfc_worker.c
  lib/nfc/parsers/all_in_one.c
  lib/nfc/parsers/all_in_one.h
  lib/nfc/parsers/nfc_supported_card.c
  lib/nfc/parsers/nfc_supported_card.h
  lib/nfc/parsers/plantain_4k_parser.c
  lib/nfc/parsers/plantain_4k_parser.h
  lib/nfc/parsers/plantain_parser.c
  lib/nfc/parsers/plantain_parser.h
  lib/nfc/parsers/troika_4k_parser.c
  lib/nfc/parsers/troika_4k_parser.h
  lib/nfc/parsers/troika_parser.c
  lib/nfc/parsers/troika_parser.h
  lib/nfc/parsers/troyka_parser.h
  lib/nfc/parsers/two_cities.c
  lib/nfc/parsers/two_cities.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

NFC user dict list, delete, and de-duplication. (#1533)
  .vscode/example/settings.json
  applications/main/lfrfid/views/lfrfid_view_read.c
  applications/main/nfc/nfc_i.h
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_delete_success.c
  applications/main/nfc/scenes/nfc_scene_dict_not_found.c
  applications/main/nfc/scenes/nfc_scene_extra_actions.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_add.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_delete.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_list.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_warn_duplicate.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_auth.c
  applications/main/nfc/scenes/nfc_scene_read.c
  applications/main/nfc/scenes/nfc_scene_restore_original_confirm.c
  applications/main/nfc/scenes/nfc_scene_save_success.c
  applications/plugins/bt_hid_app/views/bt_hid_keyboard.c
  applications/plugins/bt_hid_app/views/bt_hid_mouse.c
  applications/services/desktop/views/desktop_view_pin_input.c
  assets/icons/NFC/Keychain.png
  assets/icons/NFC/Keychain_39x36.png
  assets/icons/NFC/NFC_manual_60x50.png
  assets/icons/NFC/Reader_detect_43x40.png
  assets/icons/NFC/Restoring_38x32.png
  assets/icons/PIN/Pin_arrow_up_7x9.png
  firmware/targets/f7/api_symbols.csv
  lib/nfc/helpers/mf_classic_dict.c
  lib/nfc/helpers/mf_classic_dict.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @nminaylov

NFC user dict list, delete, and de-duplication. (#1533)
  .vscode/example/settings.json
  applications/main/lfrfid/views/lfrfid_view_read.c
  applications/main/nfc/nfc_i.h
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_delete_success.c
  applications/main/nfc/scenes/nfc_scene_dict_not_found.c
  applications/main/nfc/scenes/nfc_scene_extra_actions.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_add.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_delete.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_list.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_warn_duplicate.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_auth.c
  applications/main/nfc/scenes/nfc_scene_read.c
  applications/main/nfc/scenes/nfc_scene_restore_original_confirm.c
  applications/main/nfc/scenes/nfc_scene_save_success.c
  applications/plugins/bt_hid_app/views/bt_hid_keyboard.c
  applications/plugins/bt_hid_app/views/bt_hid_mouse.c
  applications/services/desktop/views/desktop_view_pin_input.c
  assets/icons/NFC/Keychain.png
  assets/icons/NFC/Keychain_39x36.png
  assets/icons/NFC/NFC_manual_60x50.png
  assets/icons/NFC/Reader_detect_43x40.png
  assets/icons/NFC/Restoring_38x32.png
  assets/icons/PIN/Pin_arrow_up_7x9.png
  firmware/targets/f7/api_symbols.csv
  lib/nfc/helpers/mf_classic_dict.c
  lib/nfc/helpers/mf_classic_dict.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @nminaylov

remove unused icon, update api symbols and unirf
  applications/main/unirfremix/unirfremix_app.c
  assets/icons/NFC/Reader_detect_43x40.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger

remove unused icon, update api symbols and unirf
  applications/main/unirfremix/unirfremix_app.c
  assets/icons/NFC/Reader_detect_43x40.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

update changelog
  CHANGELOG.md
Owners: @skotopes, @DrZlo13, @hedger

Update archive_browser.h
  applications/main/archive/helpers/archive_browser.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Update archive_browser.h
  applications/main/archive/helpers/archive_browser.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Enable fap support on Archive app
  applications/main/archive/helpers/archive_files.h
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/views/archive_browser_view.c
  applications/main/archive/views/archive_browser_view.h
  assets/icons/Archive/Apps_10px.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Enable fap support on Archive app
  applications/main/archive/helpers/archive_files.h
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/views/archive_browser_view.c
  applications/main/archive/views/archive_browser_view.h
  assets/icons/Archive/Apps_10px.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

making menu easy with proto selector
  applications/plugins/flipfrid/README.md
  applications/plugins/flipfrid/flipfrid.c
  applications/plugins/flipfrid/flipfrid.h
  applications/plugins/flipfrid/scene/flipfrid_scene_entrypoint.c
  applications/plugins/flipfrid/scene/flipfrid_scene_run_attack.c
Owners: @skotopes, @DrZlo13, @hedger

fix tab name and add new icon
  applications/main/archive/views/archive_browser_view.c
  assets/icons/Archive/Apps_10px.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

fix tab name and add new icon
  applications/main/archive/views/archive_browser_view.c
  assets/icons/Archive/Apps_10px.png
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

fix icon name
  applications/main/archive/views/archive_browser_view.c
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

fix icon name
  applications/main/archive/views/archive_browser_view.c
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

update docs & changelog
  CHANGELOG.md
  ReadMe.md
  documentation/HowToInstall.md
Owners: @skotopes, @DrZlo13, @hedger, @drunkbatya

update docs & changelog
  CHANGELOG.md
  ReadMe.md
  documentation/HowToInstall.md
Owners: @skotopes, @DrZlo13, @hedger, @drunkbatya

fix null pointer dereference in archive -> Info
  applications/main/archive/scenes/archive_scene_info.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

fix null pointer dereference in archive -> Info
  applications/main/archive/scenes/archive_scene_info.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

[FL-2792] AC Universal Remote (#1725)
  applications/main/infrared/scenes/infrared_scene_config.h
  applications/main/infrared/scenes/infrared_scene_universal.c
  applications/main/infrared/scenes/infrared_scene_universal_ac.c
  assets/icons/Infrared/CoolHi_25x27.png
  assets/icons/Infrared/CoolHi_hvr_25x27.png
  assets/icons/Infrared/CoolLo_25x27.png
  assets/icons/Infrared/CoolLo_hvr_25x27.png
  assets/icons/Infrared/Dehumidify_25x27.png
  assets/icons/Infrared/Dehumidify_hvr_25x27.png
  assets/icons/Infrared/HeatHi_25x27.png
  assets/icons/Infrared/HeatHi_hvr_25x27.png
  assets/icons/Infrared/HeatLo_25x27.png
  assets/icons/Infrared/HeatLo_hvr_25x27.png
  assets/icons/Infrared/Off_25x27.png
  assets/icons/Infrared/Off_hvr_25x27.png
  assets/resources/infrared/assets/ac.ir
  documentation/UniversalRemotes.md
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @gsurkov, @drunkbatya

[FL-2792] AC Universal Remote (#1725)
  applications/main/infrared/scenes/infrared_scene_config.h
  applications/main/infrared/scenes/infrared_scene_universal.c
  applications/main/infrared/scenes/infrared_scene_universal_ac.c
  assets/icons/Infrared/CoolHi_25x27.png
  assets/icons/Infrared/CoolHi_hvr_25x27.png
  assets/icons/Infrared/CoolLo_25x27.png
  assets/icons/Infrared/CoolLo_hvr_25x27.png
  assets/icons/Infrared/Dehumidify_25x27.png
  assets/icons/Infrared/Dehumidify_hvr_25x27.png
  assets/icons/Infrared/HeatHi_25x27.png
  assets/icons/Infrared/HeatHi_hvr_25x27.png
  assets/icons/Infrared/HeatLo_25x27.png
  assets/icons/Infrared/HeatLo_hvr_25x27.png
  assets/icons/Infrared/Off_25x27.png
  assets/icons/Infrared/Off_hvr_25x27.png
  assets/resources/infrared/assets/ac.ir
  documentation/UniversalRemotes.md
  firmware/targets/f7/api_symbols.csv
Owners: @skotopes, @DrZlo13, @hedger, @gsurkov, @drunkbatya

improved menu
  applications/plugins/flipfrid/scene/flipfrid_scene_entrypoint.c
Owners: @skotopes, @DrZlo13, @hedger

Subghz: Adding checks for get_upload functions (#1704)
  lib/subghz/protocols/bett.c
  lib/subghz/protocols/came.c
  lib/subghz/protocols/chamberlain_code.c
  lib/subghz/protocols/clemsa.c
  lib/subghz/protocols/doitrand.c
  lib/subghz/protocols/gate_tx.c
  lib/subghz/protocols/holtek.c
  lib/subghz/protocols/honeywell_wdb.c
  lib/subghz/protocols/hormann.c
  lib/subghz/protocols/intertechno_v3.c
  lib/subghz/protocols/keeloq.c
  lib/subghz/protocols/linear.c
  lib/subghz/protocols/magellen.c
  lib/subghz/protocols/megacode.c
  lib/subghz/protocols/nero_radio.c
  lib/subghz/protocols/nero_sketch.c
  lib/subghz/protocols/nice_flo.c
  lib/subghz/protocols/phoenix_v2.c
  lib/subghz/protocols/princeton.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Subghz: Adding checks for get_upload functions (#1704)
  lib/subghz/protocols/bett.c
  lib/subghz/protocols/came.c
  lib/subghz/protocols/chamberlain_code.c
  lib/subghz/protocols/clemsa.c
  lib/subghz/protocols/doitrand.c
  lib/subghz/protocols/gate_tx.c
  lib/subghz/protocols/holtek.c
  lib/subghz/protocols/honeywell_wdb.c
  lib/subghz/protocols/hormann.c
  lib/subghz/protocols/intertechno_v3.c
  lib/subghz/protocols/keeloq.c
  lib/subghz/protocols/linear.c
  lib/subghz/protocols/magellen.c
  lib/subghz/protocols/megacode.c
  lib/subghz/protocols/nero_radio.c
  lib/subghz/protocols/nero_sketch.c
  lib/subghz/protocols/nice_flo.c
  lib/subghz/protocols/phoenix_v2.c
  lib/subghz/protocols/princeton.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

adding support for HIDProx, updating the UI to switch between protocols
  applications/plugins/flipfrid/README.md
  applications/plugins/flipfrid/flipfrid.c
  applications/plugins/flipfrid/flipfrid.h
  applications/plugins/flipfrid/scene/flipfrid_scene_entrypoint.c
  applications/plugins/flipfrid/scene/flipfrid_scene_load_file.c
  applications/plugins/flipfrid/scene/flipfrid_scene_run_attack.c
Owners: @skotopes, @DrZlo13, @hedger

adding support for HIDProx, updating the UI to switch between protocols
  applications/plugins/flipfrid/README.md
  applications/plugins/flipfrid/flipfrid.c
  applications/plugins/flipfrid/flipfrid.h
  applications/plugins/flipfrid/scene/flipfrid_scene_entrypoint.c
  applications/plugins/flipfrid/scene/flipfrid_scene_load_file.c
  applications/plugins/flipfrid/scene/flipfrid_scene_run_attack.c
Owners: @skotopes, @DrZlo13, @hedger

fix nfc list crash, fix magellen gui, fix transmitter gui
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_list.c
  applications/main/subghz/views/transmitter.c
  lib/subghz/protocols/magellen.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @Skorpionm

fix nfc list crash, fix magellen gui, fix transmitter gui
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_list.c
  applications/main/subghz/views/transmitter.c
  lib/subghz/protocols/magellen.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @Skorpionm

set time between cards to 6, run fbt format
  applications/main/archive/helpers/archive_menu.h
  applications/main/archive/scenes/archive_scene_browser.c
  applications/plugins/flipfrid/scene/flipfrid_scene_entrypoint.c
  applications/plugins/flipfrid/scene/flipfrid_scene_load_file.c
  applications/plugins/flipfrid/scene/flipfrid_scene_run_attack.c
  applications/settings/notification_settings/notification_settings_app.c
  lib/nfc/helpers/reader_analyzer.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov, @gornekich

set time between cards to 6, run fbt format
  applications/main/archive/helpers/archive_menu.h
  applications/main/archive/scenes/archive_scene_browser.c
  applications/plugins/flipfrid/scene/flipfrid_scene_entrypoint.c
  applications/plugins/flipfrid/scene/flipfrid_scene_load_file.c
  applications/plugins/flipfrid/scene/flipfrid_scene_run_attack.c
  applications/settings/notification_settings/notification_settings_app.c
  lib/nfc/helpers/reader_analyzer.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov, @gornekich

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

# Apps
/applications/debug/bt_debug_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/accessor/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/battery_test_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/bt_debug_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/file_browser_test/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/lfrfid_debug/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/text_box_test/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/uart_echo/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/usb_mouse/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/usb_test/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/main/archive/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/bad_usb/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/gpio/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/ibutton/ @skotopes @DrZlo13 @hedger @gsurkov
/applications/main/infrared/ @skotopes @DrZlo13 @hedger @gsurkov
/applications/main/nfc/ @skotopes @DrZlo13 @hedger @gornekich
/applications/main/subghz/ @skotopes @DrZlo13 @hedger @Skorpionm
/applications/main/u2f/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/plugins/bt_hid_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/plugins/picopass/ @skotopes @DrZlo13 @hedger @gornekich

/applications/services/bt/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/cli/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/crypto/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/desktop/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/dolphin/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/power/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/rpc/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/services/bt_settings_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/desktop_settings/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/dolphin_passport/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/power_settings_app/ @skotopes @DrZlo13 @hedger @gornekich

/applications/system/storage_move_to_sd/ @skotopes @DrZlo13 @hedger @nminaylov

# Documentation
/documentation/ @skotopes @DrZlo13 @hedger @drunkbatya
/scripts/toolchain/ @skotopes @DrZlo13 @hedger @drunkbatya

# Lib
/lib/ST25RFAL002/ @skotopes @DrZlo13 @hedger @gornekich
/lib/STM32CubeWB/ @skotopes @DrZlo13 @hedger @gornekich
/lib/digital_signal/ @skotopes @DrZlo13 @hedger @gornekich
/lib/infrared/ @skotopes @DrZlo13 @hedger @gsurkov
/lib/lfrfid/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/libusb_stm32/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/mbedtls/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/micro-ecc/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/nanopb/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/nfc/ @skotopes @DrZlo13 @hedger @gornekich
/lib/one_wire/ @skotopes @DrZlo13 @hedger @gsurkov
/lib/subghz/ @skotopes @DrZlo13 @hedger @Skorpionm
