Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @gornekich, @itsyourbedtime, @albkharisov

Fix common name conflict in furi core package. (#469)
  core/furi.h
  core/furi/common_defines.h
Owners: @skotopes, @DrZlo13

Fix common name conflict in furi core package. (#469)
  core/furi.h
  core/furi/common_defines.h
Owners: @skotopes, @DrZlo13

HAL LFRFID: fix resistor heating on f5 target (#470)
  applications/lf-rfid/helpers/rfid-timer-emulator.cpp
  firmware/targets/f5/api-hal/api-hal-rfid.c
Owners: @skotopes, @DrZlo13

HAL LFRFID: fix resistor heating on f5 target (#470)
  applications/lf-rfid/helpers/rfid-timer-emulator.cpp
  firmware/targets/f5/api-hal/api-hal-rfid.c
Owners: @skotopes, @DrZlo13

[FL-835] Factory reset. Cli refactoring. (#466)
  applications/app-loader/app-loader.c
  applications/bt/bt.c
  applications/bt/bt_i.h
  applications/cli/cli.c
  applications/cli/cli.h
  applications/cli/cli_commands.c
  applications/gui/gui.c
  applications/gui/gui_i.h
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/input/input.c
  applications/internal-storage/internal-storage.c
  applications/irda/irda_app.c
  applications/nfc/nfc.c
  applications/power/power_cli.c
  applications/sd-card-test/sd-card-test.cpp
  applications/sd-filesystem/sd-filesystem.c
  bootloader/targets/include/target.h
  firmware/targets/api-hal-include/api-hal-boot.h
  firmware/targets/f5/api-hal/api-hal-boot.c
  firmware/targets/f6/api-hal/api-hal-boot.c
Owners: @skotopes, @DrZlo13, @gornekich, @albkharisov

[FL-835] Factory reset. Cli refactoring. (#466)
  applications/app-loader/app-loader.c
  applications/bt/bt.c
  applications/bt/bt_i.h
  applications/cli/cli.c
  applications/cli/cli.h
  applications/cli/cli_commands.c
  applications/gui/gui.c
  applications/gui/gui_i.h
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/input/input.c
  applications/internal-storage/internal-storage.c
  applications/irda/irda_app.c
  applications/nfc/nfc.c
  applications/power/power_cli.c
  applications/sd-card-test/sd-card-test.cpp
  applications/sd-filesystem/sd-filesystem.c
  bootloader/targets/include/target.h
  firmware/targets/api-hal-include/api-hal-boot.h
  firmware/targets/f5/api-hal/api-hal-boot.c
  firmware/targets/f6/api-hal/api-hal-boot.c
Owners: @skotopes, @DrZlo13, @gornekich, @albkharisov

[FL-1268] Gauge re-calibration (#471)
  applications/power/power.c
  firmware/targets/f5/api-hal/api-hal-power.c
  firmware/targets/f6/api-hal/api-hal-power.c
  lib/drivers/bq27220.c
  lib/drivers/bq27220.h
  lib/drivers/bq27220_reg.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1268] Gauge re-calibration (#471)
  applications/power/power.c
  firmware/targets/f5/api-hal/api-hal-power.c
  firmware/targets/f6/api-hal/api-hal-power.c
  lib/drivers/bq27220.c
  lib/drivers/bq27220.h
  lib/drivers/bq27220_reg.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-663] Read EMV cards (#460)
  applications/nfc/nfc.c
  applications/nfc/nfc_i.h
  applications/nfc/nfc_types.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_views.h
  applications/nfc/nfc_worker.c
  applications/nfc/nfc_worker_i.h
  firmware/targets/api-hal-include/api-hal-nfc.h
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
  lib/lib.mk
  lib/nfc_protocols/emv_decoder.c
  lib/nfc_protocols/emv_decoder.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-663] Read EMV cards (#460)
  applications/nfc/nfc.c
  applications/nfc/nfc_i.h
  applications/nfc/nfc_types.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_views.h
  applications/nfc/nfc_worker.c
  applications/nfc/nfc_worker_i.h
  firmware/targets/api-hal-include/api-hal-nfc.h
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
  lib/lib.mk
  lib/nfc_protocols/emv_decoder.c
  lib/nfc_protocols/emv_decoder.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1181] Archive app (#458)
  applications/applications.c
  applications/applications.h
  applications/applications.mk
  applications/archive/archive.c
  applications/archive/archive.h
  applications/archive/archive_i.h
  applications/archive/archive_views.c
  applications/archive/archive_views.h
  applications/dolphin/dolphin.c
  applications/dolphin/dolphin_i.h
  applications/dolphin/dolphin_views.c
  applications/dolphin/dolphin_views.h
  applications/dolphin/scenes/scene.h
  applications/dolphin/scenes/scene_dolphin_state.c
  applications/dolphin/scenes/scene_gfx.c
  applications/gui/elements.c
  applications/gui/elements.h
  applications/gui/modules/byte_input.c
  assets/icons/Archive/125_10px.png
  assets/icons/Archive/Nfc_10px.png
  assets/icons/Archive/ble_10px.png
  assets/icons/Archive/dir_10px.png
  assets/icons/Archive/ibutt_10px.png
  assets/icons/Archive/ir_10px.png
  assets/icons/Archive/sub1_10px.png
  assets/icons/Archive/unknown_10px.png
  core/furi.h
  core/furi/common_defines.h
  firmware/targets/f5/ble-glue/app_common.h
  lib/ST25RFAL002/utils.h
Owners: @skotopes, @DrZlo13, @itsyourbedtime, @gornekich

[FL-1181] Archive app (#458)
  applications/applications.c
  applications/applications.h
  applications/applications.mk
  applications/archive/archive.c
  applications/archive/archive.h
  applications/archive/archive_i.h
  applications/archive/archive_views.c
  applications/archive/archive_views.h
  applications/dolphin/dolphin.c
  applications/dolphin/dolphin_i.h
  applications/dolphin/dolphin_views.c
  applications/dolphin/dolphin_views.h
  applications/dolphin/scenes/scene.h
  applications/dolphin/scenes/scene_dolphin_state.c
  applications/dolphin/scenes/scene_gfx.c
  applications/gui/elements.c
  applications/gui/elements.h
  applications/gui/modules/byte_input.c
  assets/icons/Archive/125_10px.png
  assets/icons/Archive/Nfc_10px.png
  assets/icons/Archive/ble_10px.png
  assets/icons/Archive/dir_10px.png
  assets/icons/Archive/ibutt_10px.png
  assets/icons/Archive/ir_10px.png
  assets/icons/Archive/sub1_10px.png
  assets/icons/Archive/unknown_10px.png
  core/furi.h
  core/furi/common_defines.h
  firmware/targets/f5/ble-glue/app_common.h
  lib/ST25RFAL002/utils.h
Owners: @skotopes, @DrZlo13, @itsyourbedtime, @gornekich

[FL-1320] Archive: fix memory leak
  applications/archive/archive.c
Owners: @skotopes, @DrZlo13

[FL-1320] Archive: fix memory leak
  applications/archive/archive.c
Owners: @skotopes, @DrZlo13

[FL-1286] Add vertical screen orientation (#472)
  applications/applications.c
  applications/applications.mk
  applications/examples/vertical_submenu.c
  applications/gui/canvas.c
  applications/gui/canvas.h
  applications/gui/canvas_i.h
  applications/gui/gui.c
  applications/gui/modules/submenu.c
  applications/gui/modules/submenu.h
  applications/gui/view.c
  applications/gui/view.h
  applications/gui/view_dispatcher.c
  applications/gui/view_i.h
  applications/gui/view_port.c
  applications/gui/view_port.h
  applications/gui/view_port_i.h
Owners: @skotopes, @DrZlo13

[FL-1286] Add vertical screen orientation (#472)
  applications/applications.c
  applications/applications.mk
  applications/examples/vertical_submenu.c
  applications/gui/canvas.c
  applications/gui/canvas.h
  applications/gui/canvas_i.h
  applications/gui/gui.c
  applications/gui/modules/submenu.c
  applications/gui/modules/submenu.h
  applications/gui/view.c
  applications/gui/view.h
  applications/gui/view_dispatcher.c
  applications/gui/view_i.h
  applications/gui/view_port.c
  applications/gui/view_port.h
  applications/gui/view_port_i.h
Owners: @skotopes, @DrZlo13

[FL-1318] Fix cyfral and metakom keys reading (#474)
  applications/ibutton/helpers/key-reader.cpp
Owners: @skotopes, @DrZlo13

[FL-1318] Fix cyfral and metakom keys reading (#474)
  applications/ibutton/helpers/key-reader.cpp
Owners: @skotopes, @DrZlo13

[FL1327] Fix duplicate MOTD #475
  firmware/targets/f5/api-hal/api-hal-vcp.c
Owners: @skotopes, @DrZlo13

[FL1327] Fix duplicate MOTD #475
  firmware/targets/f5/api-hal/api-hal-vcp.c
Owners: @skotopes, @DrZlo13

Added full.dfu artifact for upload (#478)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

Added full.dfu artifact for upload (#478)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

GUI: add back to dialog module results. Power: exit from reboot view. (#477)
  applications/gui/modules/dialog.c
  applications/gui/modules/dialog.h
  applications/power/power.c
Owners: @skotopes, @DrZlo13

GUI: add back to dialog module results. Power: exit from reboot view. (#477)
  applications/gui/modules/dialog.c
  applications/gui/modules/dialog.h
  applications/power/power.c
Owners: @skotopes, @DrZlo13

[FL-1293] iButton key rename (#479)
  applications/ibutton/helpers/key-info.h
  applications/ibutton/ibutton-key.cpp
  applications/ibutton/ibutton-key.h
  applications/ibutton/scene/ibutton-scene-add-type.cpp
  applications/ibutton/scene/ibutton-scene-save-name.cpp
  applications/ibutton/scene/ibutton-scene-start.cpp
Owners: @skotopes, @DrZlo13

[FL-1293] iButton key rename (#479)
  applications/ibutton/helpers/key-info.h
  applications/ibutton/ibutton-key.cpp
  applications/ibutton/ibutton-key.h
  applications/ibutton/scene/ibutton-scene-add-type.cpp
  applications/ibutton/scene/ibutton-scene-save-name.cpp
  applications/ibutton/scene/ibutton-scene-start.cpp
Owners: @skotopes, @DrZlo13

[FL-1221] Hardware info CLI command #481
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1221] Hardware info CLI command #481
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1299] iButton fix previous scene transition #480
  applications/ibutton/ibutton-app.h
  applications/ibutton/scene/ibutton-scene-delete-success.cpp
  applications/ibutton/scene/ibutton-scene-select-key.cpp
  applications/ibutton/scene/ibutton-scene-select-key.h
  applications/ibutton/scene/ibutton-scene-start.cpp
Owners: @skotopes, @DrZlo13

[FL-1299] iButton fix previous scene transition #480
  applications/ibutton/ibutton-app.h
  applications/ibutton/scene/ibutton-scene-delete-success.cpp
  applications/ibutton/scene/ibutton-scene-select-key.cpp
  applications/ibutton/scene/ibutton-scene-select-key.h
  applications/ibutton/scene/ibutton-scene-start.cpp
Owners: @skotopes, @DrZlo13

[FL-1351] Wiegand read fix (#483)
  applications/accessor/accessor-app.cpp
  applications/accessor/helpers/wiegand.cpp
  applications/accessor/helpers/wiegand.h
  core/api-hal/api-interrupt-mgr.h
  firmware/targets/f5/Inc/main.h
  firmware/targets/f5/Src/gpio.c
  firmware/targets/f5/Src/usart.c
  firmware/targets/f5/api-hal/api-interrupts.c
  firmware/targets/f6/Src/gpio.c
  firmware/targets/f6/api-hal/api-hal-gpio.c
  firmware/targets/f6/api-hal/api-hal-gpio.h
  firmware/targets/f6/api-hal/api-hal-rfid.c
  firmware/targets/f6/api-hal/api-hal-vcp.c
  firmware/targets/f6/api-hal/api-interrupts.c
  firmware/targets/f6/ble-glue/app_common.h
Owners: @skotopes, @DrZlo13

[FL-1351] Wiegand read fix (#483)
  applications/accessor/accessor-app.cpp
  applications/accessor/helpers/wiegand.cpp
  applications/accessor/helpers/wiegand.h
  core/api-hal/api-interrupt-mgr.h
  firmware/targets/f5/Inc/main.h
  firmware/targets/f5/Src/gpio.c
  firmware/targets/f5/Src/usart.c
  firmware/targets/f5/api-hal/api-interrupts.c
  firmware/targets/f6/Src/gpio.c
  firmware/targets/f6/api-hal/api-hal-gpio.c
  firmware/targets/f6/api-hal/api-hal-gpio.h
  firmware/targets/f6/api-hal/api-hal-rfid.c
  firmware/targets/f6/api-hal/api-hal-vcp.c
  firmware/targets/f6/api-hal/api-interrupts.c
  firmware/targets/f6/ble-glue/app_common.h
Owners: @skotopes, @DrZlo13

[FL-1237] Notifications app (#476)
  applications/accessor/accessor-app.cpp
  applications/accessor/accessor-app.h
  applications/applications.c
  applications/applications.mk
  applications/backlight-control/backlight-control.c
  applications/cli/cli_commands.c
  applications/examples/blink.c
  applications/examples/strobe.c
  applications/examples/vibro.c
  applications/gpio-tester/gpio-tester.c
  applications/ibutton/helpers/key-reader.cpp
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/ibutton/scene/ibutton-scene-read-crc-error.cpp
  applications/ibutton/scene/ibutton-scene-read-not-key-error.cpp
  applications/ibutton/scene/ibutton-scene-read-success.cpp
  applications/ibutton/scene/ibutton-scene-write-success.cpp
  applications/irda/irda_app.c
  applications/irda_monitor/irda_monitor.c
  applications/lf-rfid/lf-rfid-app.cpp
  applications/lf-rfid/lf-rfid-app.h
  applications/lf-rfid/scene/lf-rfid-scene-read-normal.cpp
  applications/lf-rfid/scene/lf-rfid-scene-write.cpp
  applications/notification/notification-app-api.c
  applications/notification/notification-app.c
  applications/notification/notification-app.h
  applications/notification/notification-messages-notes.c
  applications/notification/notification-messages-notes.h
  applications/notification/notification-messages.c
  applications/notification/notification-messages.h
  applications/notification/notification.h
  applications/power/power.c
  applications/sd-card-test/sd-card-test.cpp
  applications/sd-filesystem/sd-filesystem.c
  applications/sd-filesystem/sd-filesystem.h
  applications/subghz/subghz_static.c
  applications/tests/irda_decoder/test_data/irda_decoder_nec_test_data.h
  applications/tests/test_index.c
  lib/ST25RFAL002/platform.h
  lib/irda/nec/irda_decoder_nec.c
Owners: @skotopes, @DrZlo13, @albkharisov, @gornekich

[FL-1237] Notifications app (#476)
  applications/accessor/accessor-app.cpp
  applications/accessor/accessor-app.h
  applications/applications.c
  applications/applications.mk
  applications/backlight-control/backlight-control.c
  applications/cli/cli_commands.c
  applications/examples/blink.c
  applications/examples/strobe.c
  applications/examples/vibro.c
  applications/gpio-tester/gpio-tester.c
  applications/ibutton/helpers/key-reader.cpp
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/ibutton/scene/ibutton-scene-read-crc-error.cpp
  applications/ibutton/scene/ibutton-scene-read-not-key-error.cpp
  applications/ibutton/scene/ibutton-scene-read-success.cpp
  applications/ibutton/scene/ibutton-scene-write-success.cpp
  applications/irda/irda_app.c
  applications/irda_monitor/irda_monitor.c
  applications/lf-rfid/lf-rfid-app.cpp
  applications/lf-rfid/lf-rfid-app.h
  applications/lf-rfid/scene/lf-rfid-scene-read-normal.cpp
  applications/lf-rfid/scene/lf-rfid-scene-write.cpp
  applications/notification/notification-app-api.c
  applications/notification/notification-app.c
  applications/notification/notification-app.h
  applications/notification/notification-messages-notes.c
  applications/notification/notification-messages-notes.h
  applications/notification/notification-messages.c
  applications/notification/notification-messages.h
  applications/notification/notification.h
  applications/power/power.c
  applications/sd-card-test/sd-card-test.cpp
  applications/sd-filesystem/sd-filesystem.c
  applications/sd-filesystem/sd-filesystem.h
  applications/subghz/subghz_static.c
  applications/tests/irda_decoder/test_data/irda_decoder_nec_test_data.h
  applications/tests/test_index.c
  lib/ST25RFAL002/platform.h
  lib/irda/nec/irda_decoder_nec.c
Owners: @skotopes, @DrZlo13, @albkharisov, @gornekich

[FL-1138] CLI commands unification (#484)
  applications/cli/cli.c
  applications/cli/cli.h
  applications/cli/cli_commands.c
  applications/cli/cli_commands.h
  applications/power/power_cli.c
  applications/sd-filesystem/sd-filesystem.c
  applications/tests/irda_decoder/test_data/irda_decoder_nec_test_data.h
  applications/tests/irda_decoder/test_data/irda_decoder_samsung_test_data.h
Owners: @skotopes, @DrZlo13

[FL-1138] CLI commands unification (#484)
  applications/cli/cli.c
  applications/cli/cli.h
  applications/cli/cli_commands.c
  applications/cli/cli_commands.h
  applications/power/power_cli.c
  applications/sd-filesystem/sd-filesystem.c
  applications/tests/irda_decoder/test_data/irda_decoder_nec_test_data.h
  applications/tests/irda_decoder/test_data/irda_decoder_samsung_test_data.h
Owners: @skotopes, @DrZlo13

[FL-1355] Fix flipper name C string (#485)
  applications/cli/cli_commands.c
  firmware/targets/api-hal-include/api-hal-version.h
  firmware/targets/f5/api-hal/api-hal-version.c
  firmware/targets/f5/api-hal/api-hal.c
  firmware/targets/f6/api-hal/api-hal-version.c
  firmware/targets/f6/api-hal/api-hal.c
Owners: @skotopes, @DrZlo13

[FL-1355] Fix flipper name C string (#485)
  applications/cli/cli_commands.c
  firmware/targets/api-hal-include/api-hal-version.h
  firmware/targets/f5/api-hal/api-hal-version.c
  firmware/targets/f5/api-hal/api-hal.c
  firmware/targets/f6/api-hal/api-hal-version.c
  firmware/targets/f6/api-hal/api-hal.c
Owners: @skotopes, @DrZlo13

Notifications: add sound to error sequence (#487)
  applications/notification/notification-messages.c
Owners: @skotopes, @DrZlo13

Notifications: add sound to error sequence (#487)
  applications/notification/notification-messages.c
Owners: @skotopes, @DrZlo13

.github/CODEOWNERS:

# Who owns all the code by default

* @skotopes @DrZlo13

# Applications
applications/** @skotopes @DrZlo13
applications/accessor/** @skotopes @DrZlo13
applications/app-loader/** @skotopes @DrZlo13 @gornekich
applications/bt/** @skotopes @DrZlo13
applications/cli/** @skotopes @DrZlo13
applications/dolphin/** @skotopes @DrZlo13 @itsyourbedtime
applications/gpio-tester/** @skotopes @DrZlo13
applications/gui/** @skotopes @DrZlo13
applications/gui-test/** @skotopes @DrZlo13
applications/ibutton/** @skotopes @DrZlo13
applications/input/** @skotopes @DrZlo13
applications/irda/** @skotopes @DrZlo13 @albkharisov
applications/lf-rfid/** @skotopes @DrZlo13
applications/menu/** @skotopes @DrZlo13
applications/music-player/** @skotopes @DrZlo13
applications/nfc/** @skotopes @DrZlo13 @gornekich
applications/power/** @skotopes @DrZlo13
applications/sd-card-test/** @skotopes @DrZlo13
applications/sd-filesystem/** @skotopes @DrZlo13
applications/subghz/** @skotopes @DrZlo13
applications/template/** @skotopes @DrZlo13
applications/tests/** @skotopes @DrZlo13

# Assets and asset generator
assets/** @skotopes @DrZlo13

# Bootloader
bootloader/** @skotopes @DrZlo13

# Core, HAL and applocation loader
core/** @skotopes @DrZlo13

# Debug tools
debug/** @skotopes @DrZlo13

# Firmware
firmware/** @skotopes @DrZlo13

# Lib
lib/app-template/** @skotopes @DrZlo13
lib/callback-connector/** @skotopes @DrZlo13
lib/common-api/** @skotopes @DrZlo13
lib/cyfral/** @skotopes @DrZlo13
lib/drivers/** @skotopes @DrZlo13 @gornekich
lib/fatfs/** @skotopes @DrZlo13
lib/fnv1a-hash/** @skotopes @DrZlo13
lib/littlefs/** @skotopes @DrZlo13
lib/mlib/** @skotopes @DrZlo13
lib/onewire/** @skotopes @DrZlo13
lib/qrcode/** @skotopes @DrZlo13
lib/ST25RFAL002/** @skotopes @DrZlo13 @gornekich
lib/STM32CubeWB/** @skotopes @DrZlo13
lib/u8g2/** @skotopes @DrZlo13
lib/version/** @skotopes @DrZlo13

# Make
make/** @skotopes @DrZlo13
