Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @gornekich, @nminaylov, @gsurkov, @Skorpionm, @drunkbatya

[FL-2819] updater: fixed failing backups on /int with empty files in it #1735
  lib/toolbox/tar/tar_archive.c
  lib/update_util/lfs_backup.c
Owners: @skotopes, @DrZlo13, @hedger

[FL-2819] updater: fixed failing backups on /int with empty files in it #1735
  lib/toolbox/tar/tar_archive.c
  lib/update_util/lfs_backup.c
Owners: @skotopes, @DrZlo13, @hedger

Charging icon update fix (#1733)
  applications/services/power/power_service/power.c
  applications/services/power/power_service/power.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Charging icon update fix (#1733)
  applications/services/power/power_service/power.c
  applications/services/power/power_service/power.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

fix nrfsniff log spam, add new icons
  applications/plugins/doom/doom_10px.png
  applications/plugins/esp8266_deauth/wifi_10px.png
  applications/plugins/flappy_bird/flappy_10px.png
  applications/plugins/mousejacker/mouse_10px.png
  applications/plugins/nrfsniff/application.fam
  applications/plugins/nrfsniff/nrfsniff.c
  applications/plugins/nrfsniff/nrfsniff_10px.png
  applications/plugins/playlist/application.fam
  applications/plugins/playlist/playlist_10px.png
  applications/plugins/subbrute/application.fam
  applications/plugins/subbrute/subbrute_10px.png
  applications/plugins/wav_player/wav_10px.png
  applications/plugins/wifi_marauder_companion/wifi_10px.png
  applications/plugins/wifi_scanner/wifi_10px.png
Owners: @skotopes, @DrZlo13, @hedger

fix nrfsniff log spam, add new icons
  applications/plugins/doom/doom_10px.png
  applications/plugins/esp8266_deauth/wifi_10px.png
  applications/plugins/flappy_bird/flappy_10px.png
  applications/plugins/mousejacker/mouse_10px.png
  applications/plugins/nrfsniff/application.fam
  applications/plugins/nrfsniff/nrfsniff.c
  applications/plugins/nrfsniff/nrfsniff_10px.png
  applications/plugins/playlist/application.fam
  applications/plugins/playlist/playlist_10px.png
  applications/plugins/subbrute/application.fam
  applications/plugins/subbrute/subbrute_10px.png
  applications/plugins/wav_player/wav_10px.png
  applications/plugins/wifi_marauder_companion/wifi_10px.png
  applications/plugins/wifi_scanner/wifi_10px.png
Owners: @skotopes, @DrZlo13, @hedger

[FL-2814] SubGhz: fix display information in the file if the frequency is not available for transmission in the given region (#1724)
  applications/main/subghz/helpers/subghz_types.h
  applications/main/subghz/subghz_i.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

[FL-2814] SubGhz: fix display information in the file if the frequency is not available for transmission in the given region (#1724)
  applications/main/subghz/helpers/subghz_types.h
  applications/main/subghz/subghz_i.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

[FL-2780] NFC Notifications fix (#1731)
  applications/main/nfc/nfc.c
  applications/main/nfc/nfc_i.h
  applications/main/nfc/scenes/nfc_scene_detect_reader.c
  applications/main/nfc/scenes/nfc_scene_emulate_apdu_sequence.c
  applications/main/nfc/scenes/nfc_scene_emulate_uid.c
  applications/main/nfc/scenes/nfc_scene_emv_read_success.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_dict_attack.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_emulate.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_read_success.c
  applications/main/nfc/scenes/nfc_scene_mf_desfire_read_success.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_emulate.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_auth.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_success.c
  applications/main/nfc/scenes/nfc_scene_nfca_read_success.c
  applications/main/nfc/scenes/nfc_scene_read.c
  applications/main/nfc/scenes/nfc_scene_rpc.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

[FL-2780] NFC Notifications fix (#1731)
  applications/main/nfc/nfc.c
  applications/main/nfc/nfc_i.h
  applications/main/nfc/scenes/nfc_scene_detect_reader.c
  applications/main/nfc/scenes/nfc_scene_emulate_apdu_sequence.c
  applications/main/nfc/scenes/nfc_scene_emulate_uid.c
  applications/main/nfc/scenes/nfc_scene_emv_read_success.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_dict_attack.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_emulate.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_read_success.c
  applications/main/nfc/scenes/nfc_scene_mf_desfire_read_success.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_emulate.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_auth.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_success.c
  applications/main/nfc/scenes/nfc_scene_nfca_read_success.c
  applications/main/nfc/scenes/nfc_scene_read.c
  applications/main/nfc/scenes/nfc_scene_rpc.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

change app type and category for music players
  applications/plugins/arkanoid/application.fam
  applications/plugins/barcode_generator/application.fam
  applications/plugins/doom/application.fam
  applications/plugins/esp8266_deauth/application.fam
  applications/plugins/flappy_bird/application.fam
  applications/plugins/flipfrid/application.fam
  applications/plugins/mousejacker/application.fam
  applications/plugins/multi_converter/application.fam
  applications/plugins/music_player/application.fam
  applications/plugins/nrfsniff/application.fam
  applications/plugins/playlist/application.fam
  applications/plugins/sentry_safe/application.fam
  applications/plugins/subbrute/application.fam
  applications/plugins/tetris_game/application.fam
  applications/plugins/tictactoe_game/application.fam
  applications/plugins/wav_player/application.fam
  applications/plugins/wifi_marauder_companion/application.fam
  applications/plugins/wifi_scanner/application.fam
  applications/plugins/zombiez/application.fam
Owners: @skotopes, @DrZlo13, @hedger

change app type and category for music players
  applications/plugins/arkanoid/application.fam
  applications/plugins/barcode_generator/application.fam
  applications/plugins/doom/application.fam
  applications/plugins/esp8266_deauth/application.fam
  applications/plugins/flappy_bird/application.fam
  applications/plugins/flipfrid/application.fam
  applications/plugins/mousejacker/application.fam
  applications/plugins/multi_converter/application.fam
  applications/plugins/music_player/application.fam
  applications/plugins/nrfsniff/application.fam
  applications/plugins/playlist/application.fam
  applications/plugins/sentry_safe/application.fam
  applications/plugins/subbrute/application.fam
  applications/plugins/tetris_game/application.fam
  applications/plugins/tictactoe_game/application.fam
  applications/plugins/wav_player/application.fam
  applications/plugins/wifi_marauder_companion/application.fam
  applications/plugins/wifi_scanner/application.fam
  applications/plugins/zombiez/application.fam
Owners: @skotopes, @DrZlo13, @hedger

change it back temporarily
  applications/main/subghz/helpers/subghz_types.h
  applications/main/subghz/subghz_i.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

change it back temporarily
  applications/main/subghz/helpers/subghz_types.h
  applications/main/subghz/subghz_i.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Init archive app with Rename, normal context menu and file info
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
  applications/main/archive/helpers/archive_browser.c
  applications/main/archive/helpers/archive_files.c
  applications/main/archive/helpers/archive_files.h
  applications/main/archive/helpers/archive_menu.h
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/scenes/archive_scene_config.h
  applications/main/archive/scenes/archive_scene_delete.c
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/scenes/archive_scene_rename.c
  applications/main/archive/views/archive_browser_view.c
  applications/main/archive/views/archive_browser_view.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Init archive app with Rename, normal context menu and file info
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
  applications/main/archive/helpers/archive_browser.c
  applications/main/archive/helpers/archive_files.c
  applications/main/archive/helpers/archive_files.h
  applications/main/archive/helpers/archive_menu.h
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/scenes/archive_scene_config.h
  applications/main/archive/scenes/archive_scene_delete.c
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/scenes/archive_scene_rename.c
  applications/main/archive/views/archive_browser_view.c
  applications/main/archive/views/archive_browser_view.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

fix subghz read mode doesn’t work at all
  applications/main/subghz/subghz_last_setting.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

fix subghz read mode doesn’t work at all
  applications/main/subghz/subghz_last_setting.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Add Info to all files, fix file info elements position
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/views/archive_browser_view.c
  applications/main/archive/views/archive_browser_view.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Add Info to all files, fix file info elements position
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/views/archive_browser_view.c
  applications/main/archive/views/archive_browser_view.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Fix bugs with new model
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
  applications/main/archive/helpers/archive_files.c
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/scenes/archive_scene_rename.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Fix bugs with new model
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
  applications/main/archive/helpers/archive_files.c
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/scenes/archive_scene_rename.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

reduce max subghz history items to resolve memory issues
  applications/main/subghz/subghz_history.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

reduce max subghz history items to resolve memory issues
  applications/main/subghz/subghz_history.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

add new start screen for doom
  applications/plugins/doom/README.md
  applications/plugins/doom/assets/intro-screen.png
  applications/plugins/doom/assets/logo_inv.png
  applications/plugins/doom/compiled/assets_icons.c
  applications/plugins/doom/compiled/assets_icons.h
  applications/plugins/doom/doom.c
Owners: @skotopes, @DrZlo13, @hedger

add new start screen for doom
  applications/plugins/doom/README.md
  applications/plugins/doom/assets/intro-screen.png
  applications/plugins/doom/assets/logo_inv.png
  applications/plugins/doom/compiled/assets_icons.c
  applications/plugins/doom/compiled/assets_icons.h
  applications/plugins/doom/doom.c
Owners: @skotopes, @DrZlo13, @hedger

fix null pointer dereference
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

fix null pointer dereference
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Fix bugs with new model
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/scenes/archive_scene_rename.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Fix bugs with new model
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/scenes/archive_scene_rename.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Fix bugs with new model
  applications/main/archive/archive_i.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Fix bugs with new model
  applications/main/archive/archive_i.h
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

remove merge bug
  applications/main/archive/archive.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

remove merge bug
  applications/main/archive/archive.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Revert "Fix bugs with new model"
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/scenes/archive_scene_rename.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Revert "Fix bugs with new model"
  applications/main/archive/archive.c
  applications/main/archive/archive_i.h
  applications/main/archive/scenes/archive_scene_info.c
  applications/main/archive/scenes/archive_scene_rename.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

add free back
  applications/main/archive/archive.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

add free back
  applications/main/archive/archive.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

disable debug logs to make gui faster
  applications/main/archive/views/archive_browser_view.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

disable debug logs to make gui faster
  applications/main/archive/views/archive_browser_view.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

# Apps
/applications/debug/bt_debug_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/accessor/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/battery_test_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/bt_debug_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/debug/file_browser_test/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/lfrfid_debug/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/text_box_test/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/uart_echo/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/usb_mouse/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/debug/usb_test/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/main/archive/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/bad_usb/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/gpio/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/main/ibutton/ @skotopes @DrZlo13 @hedger @gsurkov
/applications/main/infrared/ @skotopes @DrZlo13 @hedger @gsurkov
/applications/main/nfc/ @skotopes @DrZlo13 @hedger @gornekich
/applications/main/subghz/ @skotopes @DrZlo13 @hedger @Skorpionm
/applications/main/u2f/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/plugins/bt_hid_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/plugins/picopass/ @skotopes @DrZlo13 @hedger @gornekich

/applications/services/bt/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/cli/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/crypto/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/desktop/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/dolphin/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/power/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/rpc/ @skotopes @DrZlo13 @hedger @nminaylov

/applications/services/bt_settings_app/ @skotopes @DrZlo13 @hedger @gornekich
/applications/services/desktop_settings/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/dolphin_passport/ @skotopes @DrZlo13 @hedger @nminaylov
/applications/services/power_settings_app/ @skotopes @DrZlo13 @hedger @gornekich

/applications/system/storage_move_to_sd/ @skotopes @DrZlo13 @hedger @nminaylov

# Documentation
/documentation/ @skotopes @DrZlo13 @hedger @drunkbatya
/scripts/toolchain/ @skotopes @DrZlo13 @hedger @drunkbatya

# Lib
/lib/ST25RFAL002/ @skotopes @DrZlo13 @hedger @gornekich
/lib/STM32CubeWB/ @skotopes @DrZlo13 @hedger @gornekich
/lib/digital_signal/ @skotopes @DrZlo13 @hedger @gornekich
/lib/infrared/ @skotopes @DrZlo13 @hedger @gsurkov
/lib/lfrfid/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/libusb_stm32/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/mbedtls/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/micro-ecc/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/nanopb/ @skotopes @DrZlo13 @hedger @nminaylov
/lib/nfc/ @skotopes @DrZlo13 @hedger @gornekich
/lib/one_wire/ @skotopes @DrZlo13 @hedger @gsurkov
/lib/subghz/ @skotopes @DrZlo13 @hedger @Skorpionm
