Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @gornekich, @itsyourbedtime, @albkharisov

.github/CODEOWNERS:

# Who owns all the code by default

* @skotopes @DrZlo13

# Applications
applications/** @skotopes @DrZlo13
applications/accessor/** @skotopes @DrZlo13
applications/app-loader/** @skotopes @DrZlo13 @gornekich
applications/bt/** @skotopes @DrZlo13
applications/cli/** @skotopes @DrZlo13
applications/dolphin/** @skotopes @DrZlo13 @itsyourbedtime
applications/gpio-tester/** @skotopes @DrZlo13
applications/gui/** @skotopes @DrZlo13
applications/gui-test/** @skotopes @DrZlo13
applications/ibutton/** @skotopes @DrZlo13
applications/input/** @skotopes @DrZlo13
applications/irda/** @skotopes @DrZlo13 @albkharisov
applications/lf-rfid/** @skotopes @DrZlo13
applications/menu/** @skotopes @DrZlo13
applications/music-player/** @skotopes @DrZlo13
applications/nfc/** @skotopes @DrZlo13 @gornekich
applications/power/** @skotopes @DrZlo13
applications/sd-card-test/** @skotopes @DrZlo13
applications/sd-filesystem/** @skotopes @DrZlo13
applications/subghz/** @skotopes @DrZlo13
applications/template/** @skotopes @DrZlo13
applications/tests/** @skotopes @DrZlo13

# Assets and asset generator
assets/** @skotopes @DrZlo13

# Bootloader
bootloader/** @skotopes @DrZlo13

# Core, HAL and applocation loader
core/** @skotopes @DrZlo13

# Debug tools
debug/** @skotopes @DrZlo13

# Firmware
firmware/** @skotopes @DrZlo13

# Lib
lib/app-template/** @skotopes @DrZlo13
lib/callback-connector/** @skotopes @DrZlo13
lib/common-api/** @skotopes @DrZlo13
lib/cyfral/** @skotopes @DrZlo13
lib/drivers/** @skotopes @DrZlo13 @gornekich
lib/fatfs/** @skotopes @DrZlo13
lib/fnv1a-hash/** @skotopes @DrZlo13
lib/littlefs/** @skotopes @DrZlo13
lib/mlib/** @skotopes @DrZlo13
lib/onewire/** @skotopes @DrZlo13
lib/qrcode/** @skotopes @DrZlo13
lib/ST25RFAL002/** @skotopes @DrZlo13 @gornekich
lib/STM32CubeWB/** @skotopes @DrZlo13
lib/u8g2/** @skotopes @DrZlo13
lib/version/** @skotopes @DrZlo13

# Make
make/** @skotopes @DrZlo13

Bootloader: cleanse system if tainted (#554)
  bootloader/targets/f5/target.c
  bootloader/targets/f5/target.mk
  bootloader/targets/f6/target.c
  bootloader/targets/f6/target.mk
Owners: @skotopes, @DrZlo13

Bootloader: cleanse system if tainted (#554)
  bootloader/targets/f5/target.c
  bootloader/targets/f5/target.mk
  bootloader/targets/f6/target.c
  bootloader/targets/f6/target.mk
Owners: @skotopes, @DrZlo13

[FL-1281] Unlocked screen fix+ (#556)
  applications/dolphin/dolphin.c
  applications/gui/elements.c
Owners: @skotopes, @DrZlo13, @itsyourbedtime

[FL-1281] Unlocked screen fix+ (#556)
  applications/dolphin/dolphin.c
  applications/gui/elements.c
Owners: @skotopes, @DrZlo13, @itsyourbedtime

[FL-1513] Fix IRDA crash (#557)
  applications/irda/irda-app-transceiver.cpp
  applications/irda/irda-app-transceiver.hpp
  applications/irda/scene/irda-app-scene-learn.cpp
  lib/irda/irda_common_decoder.c
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1513] Fix IRDA crash (#557)
  applications/irda/irda-app-transceiver.cpp
  applications/irda/irda-app-transceiver.hpp
  applications/irda/scene/irda-app-scene-learn.cpp
  lib/irda/irda_common_decoder.c
Owners: @skotopes, @DrZlo13, @albkharisov

Bootloader: always treat initial state as tainted. Firmware: mark boot state as tainted on boot. (#558)
  bootloader/targets/f5/target.c
  bootloader/targets/f6/target.c
  firmware/targets/api-hal-include/api-hal-boot.h
  firmware/targets/f5/api-hal/api-hal-boot.c
  firmware/targets/f5/api-hal/api-hal.c
  firmware/targets/f6/api-hal/api-hal-boot.c
  firmware/targets/f6/api-hal/api-hal.c
Owners: @skotopes, @DrZlo13

Bootloader: always treat initial state as tainted. Firmware: mark boot state as tainted on boot. (#558)
  bootloader/targets/f5/target.c
  bootloader/targets/f6/target.c
  firmware/targets/api-hal-include/api-hal-boot.h
  firmware/targets/f5/api-hal/api-hal-boot.c
  firmware/targets/f5/api-hal/api-hal.c
  firmware/targets/f6/api-hal/api-hal-boot.c
  firmware/targets/f6/api-hal/api-hal.c
Owners: @skotopes, @DrZlo13

SubGhz: Nice FlooR S improvements, cli stack overflow fix, code documentation, new key data formatting (#559)
  applications/applications.c
  applications/subghz/subghz_cli.c
  applications/subghz/views/subghz_capture.c
  lib/fl_subghz/protocols/subghz_protocol.c
  lib/fl_subghz/protocols/subghz_protocol.h
  lib/fl_subghz/protocols/subghz_protocol_came.c
  lib/fl_subghz/protocols/subghz_protocol_came.h
  lib/fl_subghz/protocols/subghz_protocol_common.c
  lib/fl_subghz/protocols/subghz_protocol_common.h
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.c
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.c
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.h
  lib/fl_subghz/protocols/subghz_protocol_princeton.c
  lib/fl_subghz/protocols/subghz_protocol_princeton.h
  lib/fl_subghz/subghz_worker.c
  lib/fl_subghz/subghz_worker.h
Owners: @skotopes, @DrZlo13

SubGhz: Nice FlooR S improvements, cli stack overflow fix, code documentation, new key data formatting (#559)
  applications/applications.c
  applications/subghz/subghz_cli.c
  applications/subghz/views/subghz_capture.c
  lib/fl_subghz/protocols/subghz_protocol.c
  lib/fl_subghz/protocols/subghz_protocol.h
  lib/fl_subghz/protocols/subghz_protocol_came.c
  lib/fl_subghz/protocols/subghz_protocol_came.h
  lib/fl_subghz/protocols/subghz_protocol_common.c
  lib/fl_subghz/protocols/subghz_protocol_common.h
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.c
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.c
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.h
  lib/fl_subghz/protocols/subghz_protocol_princeton.c
  lib/fl_subghz/protocols/subghz_protocol_princeton.h
  lib/fl_subghz/subghz_worker.c
  lib/fl_subghz/subghz_worker.h
Owners: @skotopes, @DrZlo13

[FL-1499] NFC App: save and load from SD card (#560)
  applications/applications.c
  applications/nfc/nfc.c
  applications/nfc/nfc_device.c
  applications/nfc/nfc_device.h
  applications/nfc/nfc_i.h
  applications/nfc/nfc_worker.h
  applications/nfc/scenes/nfc_scene_card_menu.c
  applications/nfc/scenes/nfc_scene_debug_menu.c
  applications/nfc/scenes/nfc_scene_emulate_uid.c
  applications/nfc/scenes/nfc_scene_file_select.c
  applications/nfc/scenes/nfc_scene_file_select.h
  applications/nfc/scenes/nfc_scene_read_card.c
  applications/nfc/scenes/nfc_scene_read_card_success.c
  applications/nfc/scenes/nfc_scene_save_name.c
  applications/nfc/scenes/nfc_scene_save_name.h
  applications/nfc/scenes/nfc_scene_save_success.c
  applications/nfc/scenes/nfc_scene_save_success.h
  applications/nfc/scenes/nfc_scene_saved_menu.c
  applications/nfc/scenes/nfc_scene_saved_menu.h
  applications/nfc/scenes/nfc_scene_set_atqa.c
  applications/nfc/scenes/nfc_scene_set_atqa.h
  applications/nfc/scenes/nfc_scene_set_sak.c
  applications/nfc/scenes/nfc_scene_set_sak.h
  applications/nfc/scenes/nfc_scene_set_type.c
  applications/nfc/scenes/nfc_scene_set_type.h
  applications/nfc/scenes/nfc_scene_set_uid.c
  applications/nfc/scenes/nfc_scene_set_uid.h
  applications/nfc/scenes/nfc_scene_start.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1499] NFC App: save and load from SD card (#560)
  applications/applications.c
  applications/nfc/nfc.c
  applications/nfc/nfc_device.c
  applications/nfc/nfc_device.h
  applications/nfc/nfc_i.h
  applications/nfc/nfc_worker.h
  applications/nfc/scenes/nfc_scene_card_menu.c
  applications/nfc/scenes/nfc_scene_debug_menu.c
  applications/nfc/scenes/nfc_scene_emulate_uid.c
  applications/nfc/scenes/nfc_scene_file_select.c
  applications/nfc/scenes/nfc_scene_file_select.h
  applications/nfc/scenes/nfc_scene_read_card.c
  applications/nfc/scenes/nfc_scene_read_card_success.c
  applications/nfc/scenes/nfc_scene_save_name.c
  applications/nfc/scenes/nfc_scene_save_name.h
  applications/nfc/scenes/nfc_scene_save_success.c
  applications/nfc/scenes/nfc_scene_save_success.h
  applications/nfc/scenes/nfc_scene_saved_menu.c
  applications/nfc/scenes/nfc_scene_saved_menu.h
  applications/nfc/scenes/nfc_scene_set_atqa.c
  applications/nfc/scenes/nfc_scene_set_atqa.h
  applications/nfc/scenes/nfc_scene_set_sak.c
  applications/nfc/scenes/nfc_scene_set_sak.h
  applications/nfc/scenes/nfc_scene_set_type.c
  applications/nfc/scenes/nfc_scene_set_type.h
  applications/nfc/scenes/nfc_scene_set_uid.c
  applications/nfc/scenes/nfc_scene_set_uid.h
  applications/nfc/scenes/nfc_scene_start.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1516] Fix name read on device without OTP (#561)
  applications/cli/cli_commands.c
  applications/dolphin/dolphin_views.c
  applications/dolphin/passport/passport.c
Owners: @skotopes, @DrZlo13, @itsyourbedtime

[FL-1516] Fix name read on device without OTP (#561)
  applications/cli/cli_commands.c
  applications/dolphin/dolphin_views.c
  applications/dolphin/passport/passport.c
Owners: @skotopes, @DrZlo13, @itsyourbedtime

Cli: add timestamp to device_info command (#562)
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

Cli: add timestamp to device_info command (#562)
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1371][FL-1502] Lfrfid app: fixes. (#555)
  applications/dolphin/dolphin_views.c
  applications/gui-test/gui-test.c
  applications/gui/canvas.c
  applications/gui/elements.c
  applications/gui/elements.h
  applications/gui/modules/byte_input.c
  applications/gui/modules/byte_input.h
  applications/ibutton/scene/ibutton-scene-add-value.cpp
  applications/ibutton/scene/ibutton-scene-add-value.h
  applications/lfrfid/scene/lfrfid-app-scene-emulate.cpp
  applications/lfrfid/scene/lfrfid-app-scene-read.cpp
  applications/lfrfid/scene/lfrfid-app-scene-save-data.cpp
  applications/lfrfid/scene/lfrfid-app-scene-save-data.h
  applications/lfrfid/scene/lfrfid-app-scene-write-success.cpp
  applications/lfrfid/scene/lfrfid-app-scene-write.cpp
  applications/lfrfid/view/elements/string-element.cpp
  applications/nfc/scenes/nfc_scene_emulate_uid.c
  applications/nfc/scenes/nfc_scene_read_card.c
  applications/nfc/scenes/nfc_scene_set_atqa.c
  applications/nfc/scenes/nfc_scene_set_sak.c
  applications/nfc/scenes/nfc_scene_set_uid.c
  applications/scened-app-example/scene/scened-app-scene-byte-input.cpp
  applications/scened-app-example/scene/scened-app-scene-byte-input.h
  applications/subghz/views/subghz_capture.c
  applications/subghz/views/subghz_static.c
  applications/subghz/views/subghz_test_basic.c
  applications/subghz/views/subghz_test_packet.c
  assets/compiled/assets_icons.c
  assets/compiled/assets_icons.h
  assets/icons/RFID/RFIDDolphinReceive_97x61.png
  assets/icons/RFID/RFIDDolphinReceive_98x60.png
  assets/icons/RFID/RFIDDolphinSend_97x61.png
  assets/icons/RFID/RFIDDolphinSend_98x60.png
Owners: @skotopes, @DrZlo13, @itsyourbedtime, @gornekich

[FL-1371][FL-1502] Lfrfid app: fixes. (#555)
  applications/dolphin/dolphin_views.c
  applications/gui-test/gui-test.c
  applications/gui/canvas.c
  applications/gui/elements.c
  applications/gui/elements.h
  applications/gui/modules/byte_input.c
  applications/gui/modules/byte_input.h
  applications/ibutton/scene/ibutton-scene-add-value.cpp
  applications/ibutton/scene/ibutton-scene-add-value.h
  applications/lfrfid/scene/lfrfid-app-scene-emulate.cpp
  applications/lfrfid/scene/lfrfid-app-scene-read.cpp
  applications/lfrfid/scene/lfrfid-app-scene-save-data.cpp
  applications/lfrfid/scene/lfrfid-app-scene-save-data.h
  applications/lfrfid/scene/lfrfid-app-scene-write-success.cpp
  applications/lfrfid/scene/lfrfid-app-scene-write.cpp
  applications/lfrfid/view/elements/string-element.cpp
  applications/nfc/scenes/nfc_scene_emulate_uid.c
  applications/nfc/scenes/nfc_scene_read_card.c
  applications/nfc/scenes/nfc_scene_set_atqa.c
  applications/nfc/scenes/nfc_scene_set_sak.c
  applications/nfc/scenes/nfc_scene_set_uid.c
  applications/scened-app-example/scene/scened-app-scene-byte-input.cpp
  applications/scened-app-example/scene/scened-app-scene-byte-input.h
  applications/subghz/views/subghz_capture.c
  applications/subghz/views/subghz_static.c
  applications/subghz/views/subghz_test_basic.c
  applications/subghz/views/subghz_test_packet.c
  assets/compiled/assets_icons.c
  assets/compiled/assets_icons.h
  assets/icons/RFID/RFIDDolphinReceive_97x61.png
  assets/icons/RFID/RFIDDolphinReceive_98x60.png
  assets/icons/RFID/RFIDDolphinSend_97x61.png
  assets/icons/RFID/RFIDDolphinSend_98x60.png
Owners: @skotopes, @DrZlo13, @itsyourbedtime, @gornekich

[FL-1329] Settings (#563)
  applications/app-loader/app-loader.c
  applications/applications.c
  applications/applications.h
  applications/backlight-control/backlight-control.c
  applications/gui/modules/variable-item-list.c
  applications/gui/modules/variable-item-list.h
  applications/menu/menu.c
  applications/menu/menu_item.c
  applications/menu/menu_item.h
  applications/notification/notification-app-settings.c
  applications/notification/notification-app.c
  applications/notification/notification-app.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1329] Settings (#563)
  applications/app-loader/app-loader.c
  applications/applications.c
  applications/applications.h
  applications/backlight-control/backlight-control.c
  applications/gui/modules/variable-item-list.c
  applications/gui/modules/variable-item-list.h
  applications/menu/menu.c
  applications/menu/menu_item.c
  applications/menu/menu_item.h
  applications/notification/notification-app-settings.c
  applications/notification/notification-app.c
  applications/notification/notification-app.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1320] Fix archive memleak (#565)
  applications/archive/archive.c
  applications/ibutton/helpers/pulse-sequencer.cpp
Owners: @skotopes, @DrZlo13

[FL-1320] Fix archive memleak (#565)
  applications/archive/archive.c
  applications/ibutton/helpers/pulse-sequencer.cpp
Owners: @skotopes, @DrZlo13

[FL-1517] Maximum heap block stat for os_info cli cmd. (#564)
  applications/cli/cli_commands.c
  core/furi/memmgr_heap.c
  core/furi/memmgr_heap.h
Owners: @skotopes, @DrZlo13

[FL-1517] Maximum heap block stat for os_info cli cmd. (#564)
  applications/cli/cli_commands.c
  core/furi/memmgr_heap.c
  core/furi/memmgr_heap.h
Owners: @skotopes, @DrZlo13

BLE: fix incorrect RSSI calculation. Firmware: don't mark system as tainted on test releases. (#567)
  applications/bt/bt_cli.c
  firmware/targets/f5/api-hal/api-hal-boot.c
  firmware/targets/f5/api-hal/api-hal-bt.c
  firmware/targets/f6/api-hal/api-hal-boot.c
  firmware/targets/f6/api-hal/api-hal-bt.c
Owners: @skotopes, @DrZlo13

BLE: fix incorrect RSSI calculation. Firmware: don't mark system as tainted on test releases. (#567)
  applications/bt/bt_cli.c
  firmware/targets/f5/api-hal/api-hal-boot.c
  firmware/targets/f5/api-hal/api-hal-bt.c
  firmware/targets/f6/api-hal/api-hal-boot.c
  firmware/targets/f6/api-hal/api-hal-bt.c
Owners: @skotopes, @DrZlo13

Skorp subghz capture refactoring (#569)
  applications/subghz/subghz_cli.c
  applications/subghz/views/subghz_capture.c
  firmware/targets/api-hal-include/api-hal-subghz.h
  firmware/targets/f6/api-hal/api-hal-subghz.c
  lib/fl_subghz/protocols/subghz_protocol.c
  lib/fl_subghz/protocols/subghz_protocol.h
  lib/fl_subghz/protocols/subghz_protocol_came.c
  lib/fl_subghz/protocols/subghz_protocol_came.h
  lib/fl_subghz/protocols/subghz_protocol_common.c
  lib/fl_subghz/protocols/subghz_protocol_common.h
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.c
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.c
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.h
  lib/fl_subghz/protocols/subghz_protocol_princeton.c
  lib/fl_subghz/protocols/subghz_protocol_princeton.h
  lib/fl_subghz/subghz_worker.c
  lib/fl_subghz/subghz_worker.h
  lib/toolbox/level_duration.h
Owners: @skotopes, @DrZlo13

Skorp subghz capture refactoring (#569)
  applications/subghz/subghz_cli.c
  applications/subghz/views/subghz_capture.c
  firmware/targets/api-hal-include/api-hal-subghz.h
  firmware/targets/f6/api-hal/api-hal-subghz.c
  lib/fl_subghz/protocols/subghz_protocol.c
  lib/fl_subghz/protocols/subghz_protocol.h
  lib/fl_subghz/protocols/subghz_protocol_came.c
  lib/fl_subghz/protocols/subghz_protocol_came.h
  lib/fl_subghz/protocols/subghz_protocol_common.c
  lib/fl_subghz/protocols/subghz_protocol_common.h
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.c
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.c
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.h
  lib/fl_subghz/protocols/subghz_protocol_princeton.c
  lib/fl_subghz/protocols/subghz_protocol_princeton.h
  lib/fl_subghz/subghz_worker.c
  lib/fl_subghz/subghz_worker.h
  lib/toolbox/level_duration.h
Owners: @skotopes, @DrZlo13

[FL-1398] IRDA: Implement timings encoder, add RC-6 (#570)
  applications/applications.mk
  applications/irda/cli/irda-cli.cpp
  applications/irda/irda-app-transceiver.hpp
  applications/irda/irda_app_old.c
  applications/irda/scene/irda-app-scene-universal-common.cpp
  applications/irda_monitor/irda_monitor.c
  applications/tests/irda_decoder/irda_decoder_test.c
  applications/tests/irda_decoder_encoder/irda_decoder_encoder_test.c
  applications/tests/irda_decoder_encoder/test_data/irda_nec_test_data.srcdata
  applications/tests/irda_decoder_encoder/test_data/irda_necext_test_data.srcdata
  applications/tests/irda_decoder_encoder/test_data/irda_rc6_test_data.srcdata
  applications/tests/irda_decoder_encoder/test_data/irda_samsung_test_data.srcdata
  applications/tests/test_index.c
  firmware/targets/f6/api-hal/api-hal-irda.c
  lib/irda/irda.c
  lib/irda/irda.h
  lib/irda/irda_common_decoder.c
  lib/irda/irda_common_decoder_i.h
  lib/irda/irda_common_encoder.c
  lib/irda/irda_common_i.h
  lib/irda/irda_common_protocol_defs.c
  lib/irda/irda_encoder.c
  lib/irda/irda_encoder_i.h
  lib/irda/irda_i.h
  lib/irda/irda_protocol_defs_i.h
  lib/irda/irda_transmit.c
  lib/irda/nec/irda_decoder_nec.c
  lib/irda/nec/irda_encoder_nec.c
  lib/irda/rc6/irda_decoder_rc6.c
  lib/irda/rc6/irda_encoder_rc6.c
  lib/irda/samsung/irda_decoder_samsung.c
  lib/irda/samsung/irda_encoder_samsung.c
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1398] IRDA: Implement timings encoder, add RC-6 (#570)
  applications/applications.mk
  applications/irda/cli/irda-cli.cpp
  applications/irda/irda-app-transceiver.hpp
  applications/irda/irda_app_old.c
  applications/irda/scene/irda-app-scene-universal-common.cpp
  applications/irda_monitor/irda_monitor.c
  applications/tests/irda_decoder/irda_decoder_test.c
  applications/tests/irda_decoder_encoder/irda_decoder_encoder_test.c
  applications/tests/irda_decoder_encoder/test_data/irda_nec_test_data.srcdata
  applications/tests/irda_decoder_encoder/test_data/irda_necext_test_data.srcdata
  applications/tests/irda_decoder_encoder/test_data/irda_rc6_test_data.srcdata
  applications/tests/irda_decoder_encoder/test_data/irda_samsung_test_data.srcdata
  applications/tests/test_index.c
  firmware/targets/f6/api-hal/api-hal-irda.c
  lib/irda/irda.c
  lib/irda/irda.h
  lib/irda/irda_common_decoder.c
  lib/irda/irda_common_decoder_i.h
  lib/irda/irda_common_encoder.c
  lib/irda/irda_common_i.h
  lib/irda/irda_common_protocol_defs.c
  lib/irda/irda_encoder.c
  lib/irda/irda_encoder_i.h
  lib/irda/irda_i.h
  lib/irda/irda_protocol_defs_i.h
  lib/irda/irda_transmit.c
  lib/irda/nec/irda_decoder_nec.c
  lib/irda/nec/irda_encoder_nec.c
  lib/irda/rc6/irda_decoder_rc6.c
  lib/irda/rc6/irda_encoder_rc6.c
  lib/irda/samsung/irda_decoder_samsung.c
  lib/irda/samsung/irda_encoder_samsung.c
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1501] NFC: read Mifare Ultralight (#571)
  applications/gui/canvas.c
  applications/gui/canvas.h
  applications/gui/modules/text_box.c
  applications/gui/modules/text_box.h
  applications/nfc/nfc.c
  applications/nfc/nfc_device.h
  applications/nfc/nfc_i.h
  applications/nfc/nfc_worker.c
  applications/nfc/scenes/nfc_scene_mifare_ul_menu.c
  applications/nfc/scenes/nfc_scene_mifare_ul_menu.h
  applications/nfc/scenes/nfc_scene_read_mifare_ul.c
  applications/nfc/scenes/nfc_scene_read_mifare_ul.h
  applications/nfc/scenes/nfc_scene_read_mifare_ul_success.c
  applications/nfc/scenes/nfc_scene_read_mifare_ul_success.h
  applications/nfc/scenes/nfc_scene_scripts_menu.c
  applications/nfc/scenes/nfc_scene_scripts_menu.h
  applications/nfc/scenes/nfc_scene_start.c
  lib/app_scene_template/app_scene.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1501] NFC: read Mifare Ultralight (#571)
  applications/gui/canvas.c
  applications/gui/canvas.h
  applications/gui/modules/text_box.c
  applications/gui/modules/text_box.h
  applications/nfc/nfc.c
  applications/nfc/nfc_device.h
  applications/nfc/nfc_i.h
  applications/nfc/nfc_worker.c
  applications/nfc/scenes/nfc_scene_mifare_ul_menu.c
  applications/nfc/scenes/nfc_scene_mifare_ul_menu.h
  applications/nfc/scenes/nfc_scene_read_mifare_ul.c
  applications/nfc/scenes/nfc_scene_read_mifare_ul.h
  applications/nfc/scenes/nfc_scene_read_mifare_ul_success.c
  applications/nfc/scenes/nfc_scene_read_mifare_ul_success.h
  applications/nfc/scenes/nfc_scene_scripts_menu.c
  applications/nfc/scenes/nfc_scene_scripts_menu.h
  applications/nfc/scenes/nfc_scene_start.c
  lib/app_scene_template/app_scene.h
Owners: @skotopes, @DrZlo13, @gornekich

Furi: proper thread id in heap tracking (#572)
  core/furi/thread.c
Owners: @skotopes, @DrZlo13

Furi: proper thread id in heap tracking (#572)
  core/furi/thread.c
Owners: @skotopes, @DrZlo13

[FL-1491] Gui: input injection in screen stream (#573)
  applications/cli/cli.h
  applications/cli/cli_i.h
  applications/gui/gui.c
Owners: @skotopes, @DrZlo13

[FL-1491] Gui: input injection in screen stream (#573)
  applications/cli/cli.h
  applications/cli/cli_i.h
  applications/gui/gui.c
Owners: @skotopes, @DrZlo13

Debug: update PyCortexMDebug to latest and refactor (#574)
  debug/PyCortexMDebug/PyCortexMDebug.py
  debug/PyCortexMDebug/cmdebug/__init__.py
  debug/PyCortexMDebug/cmdebug/dwt_gdb.py
  debug/PyCortexMDebug/cmdebug/svd.py
  debug/PyCortexMDebug/cmdebug/svd_gdb.py
  docker/Dockerfile
  make/rules.mk
Owners: @skotopes, @DrZlo13

Debug: update PyCortexMDebug to latest and refactor (#574)
  debug/PyCortexMDebug/PyCortexMDebug.py
  debug/PyCortexMDebug/cmdebug/__init__.py
  debug/PyCortexMDebug/cmdebug/dwt_gdb.py
  debug/PyCortexMDebug/cmdebug/svd.py
  debug/PyCortexMDebug/cmdebug/svd_gdb.py
  docker/Dockerfile
  make/rules.mk
Owners: @skotopes, @DrZlo13

[FL-1371] Lfrfid app: add manufacturers to "Add manually" scene (#577)
  applications/lfrfid/helpers/key-info.cpp
  applications/lfrfid/helpers/key-info.h
  applications/lfrfid/scene/lfrfid-app-scene-save-type.cpp
  applications/lfrfid/scene/lfrfid-app-scene-save-type.h
Owners: @skotopes, @DrZlo13

[FL-1371] Lfrfid app: add manufacturers to "Add manually" scene (#577)
  applications/lfrfid/helpers/key-info.cpp
  applications/lfrfid/helpers/key-info.h
  applications/lfrfid/scene/lfrfid-app-scene-save-type.cpp
  applications/lfrfid/scene/lfrfid-app-scene-save-type.h
Owners: @skotopes, @DrZlo13
