Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @gornekich, @itsyourbedtime, @albkharisov

.github/CODEOWNERS:

# Who owns all the code by default

* @skotopes @DrZlo13

# Applications
applications/** @skotopes @DrZlo13
applications/accessor/** @skotopes @DrZlo13
applications/app-loader/** @skotopes @DrZlo13 @gornekich
applications/bt/** @skotopes @DrZlo13
applications/cli/** @skotopes @DrZlo13
applications/dolphin/** @skotopes @DrZlo13 @itsyourbedtime
applications/gpio-tester/** @skotopes @DrZlo13
applications/gui/** @skotopes @DrZlo13
applications/gui-test/** @skotopes @DrZlo13
applications/ibutton/** @skotopes @DrZlo13
applications/input/** @skotopes @DrZlo13
applications/irda/** @skotopes @DrZlo13 @albkharisov
applications/lf-rfid/** @skotopes @DrZlo13
applications/menu/** @skotopes @DrZlo13
applications/music-player/** @skotopes @DrZlo13
applications/nfc/** @skotopes @DrZlo13 @gornekich
applications/power/** @skotopes @DrZlo13
applications/sd-card-test/** @skotopes @DrZlo13
applications/sd-filesystem/** @skotopes @DrZlo13
applications/subghz/** @skotopes @DrZlo13
applications/template/** @skotopes @DrZlo13
applications/tests/** @skotopes @DrZlo13

# Assets and asset generator
assets/** @skotopes @DrZlo13

# Bootloader
bootloader/** @skotopes @DrZlo13

# Core, HAL and applocation loader
core/** @skotopes @DrZlo13

# Debug tools
debug/** @skotopes @DrZlo13

# Firmware
firmware/** @skotopes @DrZlo13

# Lib
lib/app-template/** @skotopes @DrZlo13
lib/callback-connector/** @skotopes @DrZlo13
lib/common-api/** @skotopes @DrZlo13
lib/cyfral/** @skotopes @DrZlo13
lib/drivers/** @skotopes @DrZlo13 @gornekich
lib/fatfs/** @skotopes @DrZlo13
lib/fnv1a-hash/** @skotopes @DrZlo13
lib/littlefs/** @skotopes @DrZlo13
lib/mlib/** @skotopes @DrZlo13
lib/onewire/** @skotopes @DrZlo13
lib/qrcode/** @skotopes @DrZlo13
lib/ST25RFAL002/** @skotopes @DrZlo13 @gornekich
lib/STM32CubeWB/** @skotopes @DrZlo13
lib/u8g2/** @skotopes @DrZlo13
lib/version/** @skotopes @DrZlo13

# Make
make/** @skotopes @DrZlo13

Unit tests: fix IRDA test data (#488)
  applications/tests/irda_decoder/irda_decoder_test.c
  applications/tests/irda_decoder/test_data/irda_decoder_nec_test_data.srcdata
  applications/tests/irda_decoder/test_data/irda_decoder_samsung_test_data.srcdata
  applications/tests/test_index.c
  docker/syntax_check.sh
Owners: @skotopes, @DrZlo13

Unit tests: fix IRDA test data (#488)
  applications/tests/irda_decoder/irda_decoder_test.c
  applications/tests/irda_decoder/test_data/irda_decoder_nec_test_data.srcdata
  applications/tests/irda_decoder/test_data/irda_decoder_samsung_test_data.srcdata
  applications/tests/test_index.c
  docker/syntax_check.sh
Owners: @skotopes, @DrZlo13

[FL-1254] ViewDispatcher improvements, SubGhz cli and certification preparation (#482)
  applications/applications.c
  applications/gui/view_dispatcher.c
  applications/gui/view_dispatcher.h
  applications/gui/view_dispatcher_i.h
  applications/subghz/subghz.c
  applications/subghz/subghz_cli.c
  applications/subghz/subghz_cli.h
  applications/subghz/subghz_i.h
  applications/subghz/subghz_static.c
  applications/subghz/subghz_test_basic.c
  applications/subghz/subghz_test_packet.c
  firmware/targets/api-hal-include/api-hal-subghz.h
  firmware/targets/f5/api-hal/api-hal-subghz.c
  firmware/targets/f6/api-hal/api-hal-subghz.c
Owners: @skotopes, @DrZlo13

[FL-1254] ViewDispatcher improvements, SubGhz cli and certification preparation (#482)
  applications/applications.c
  applications/gui/view_dispatcher.c
  applications/gui/view_dispatcher.h
  applications/gui/view_dispatcher_i.h
  applications/subghz/subghz.c
  applications/subghz/subghz_cli.c
  applications/subghz/subghz_cli.h
  applications/subghz/subghz_i.h
  applications/subghz/subghz_static.c
  applications/subghz/subghz_test_basic.c
  applications/subghz/subghz_test_packet.c
  firmware/targets/api-hal-include/api-hal-subghz.h
  firmware/targets/f5/api-hal/api-hal-subghz.c
  firmware/targets/f6/api-hal/api-hal-subghz.c
Owners: @skotopes, @DrZlo13

[FL-1274] Interrupt manager: cleaned version (#490)
  core/api-hal/api-interrupt-mgr.c
  core/api-hal/api-interrupt-mgr.h
  firmware/targets/f5/api-hal/api-interrupts.c
  firmware/targets/f6/api-hal/api-interrupts.c
Owners: @skotopes, @DrZlo13

[FL-1274] Interrupt manager: cleaned version (#490)
  core/api-hal/api-interrupt-mgr.c
  core/api-hal/api-interrupt-mgr.h
  firmware/targets/f5/api-hal/api-interrupts.c
  firmware/targets/f6/api-hal/api-interrupts.c
Owners: @skotopes, @DrZlo13

[FL-1300] iButton app: save selected menu item and selected file position. (#489)
  applications/gui/modules/file_select.c
  applications/gui/modules/file_select.h
  applications/gui/modules/submenu.c
  applications/gui/modules/submenu.h
  applications/ibutton/scene/ibutton-scene-add-type.cpp
  applications/ibutton/scene/ibutton-scene-add-type.h
  applications/ibutton/scene/ibutton-scene-readed-key-menu.cpp
  applications/ibutton/scene/ibutton-scene-readed-key-menu.h
  applications/ibutton/scene/ibutton-scene-saved-key-menu.cpp
  applications/ibutton/scene/ibutton-scene-saved-key-menu.h
  applications/ibutton/scene/ibutton-scene-select-key.cpp
  applications/ibutton/scene/ibutton-scene-start.cpp
  applications/ibutton/scene/ibutton-scene-start.h
  applications/sd-filesystem/sd-filesystem.c
  lib/common-api/sd-card-api.h
Owners: @skotopes, @DrZlo13

[FL-1300] iButton app: save selected menu item and selected file position. (#489)
  applications/gui/modules/file_select.c
  applications/gui/modules/file_select.h
  applications/gui/modules/submenu.c
  applications/gui/modules/submenu.h
  applications/ibutton/scene/ibutton-scene-add-type.cpp
  applications/ibutton/scene/ibutton-scene-add-type.h
  applications/ibutton/scene/ibutton-scene-readed-key-menu.cpp
  applications/ibutton/scene/ibutton-scene-readed-key-menu.h
  applications/ibutton/scene/ibutton-scene-saved-key-menu.cpp
  applications/ibutton/scene/ibutton-scene-saved-key-menu.h
  applications/ibutton/scene/ibutton-scene-select-key.cpp
  applications/ibutton/scene/ibutton-scene-start.cpp
  applications/ibutton/scene/ibutton-scene-start.h
  applications/sd-filesystem/sd-filesystem.c
  lib/common-api/sd-card-api.h
Owners: @skotopes, @DrZlo13

api-hal-version: fix f6 target version (#492)
  firmware/targets/f6/api-hal/api-hal-version.c
Owners: @skotopes, @DrZlo13

api-hal-version: fix f6 target version (#492)
  firmware/targets/f6/api-hal/api-hal-version.c
Owners: @skotopes, @DrZlo13

[FL-1039] Emv emulation (#491)
  applications/nfc/nfc.c
  applications/nfc/nfc_i.h
  applications/nfc/nfc_types.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_views.h
  applications/nfc/nfc_worker.c
  applications/nfc/nfc_worker_i.h
  firmware/targets/api-hal-include/api-hal-nfc.h
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
  lib/nfc_protocols/emv_decoder.c
  lib/nfc_protocols/emv_decoder.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1039] Emv emulation (#491)
  applications/nfc/nfc.c
  applications/nfc/nfc_i.h
  applications/nfc/nfc_types.h
  applications/nfc/nfc_views.c
  applications/nfc/nfc_views.h
  applications/nfc/nfc_worker.c
  applications/nfc/nfc_worker_i.h
  firmware/targets/api-hal-include/api-hal-nfc.h
  firmware/targets/f5/api-hal/api-hal-nfc.c
  firmware/targets/f6/api-hal/api-hal-nfc.c
  lib/nfc_protocols/emv_decoder.c
  lib/nfc_protocols/emv_decoder.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1111] SD card rework with SPI API (#496)
  firmware/targets/f5/Src/fatfs/spi_sd_hal.c
  firmware/targets/f5/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f5/Src/fatfs/user_diskio.c
  firmware/targets/f5/api-hal/api-hal-spi-config.c
  firmware/targets/f5/api-hal/api-hal-spi-config.h
  firmware/targets/f5/api-hal/api-hal-spi.c
  firmware/targets/f5/api-hal/api-hal-spi.h
  firmware/targets/f6/Src/fatfs/spi_sd_hal.c
  firmware/targets/f6/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f6/Src/fatfs/user_diskio.c
  firmware/targets/f6/api-hal/api-hal-spi-config.c
  firmware/targets/f6/api-hal/api-hal-spi-config.h
  firmware/targets/f6/api-hal/api-hal-spi.c
  firmware/targets/f6/api-hal/api-hal-spi.h
Owners: @skotopes, @DrZlo13

[FL-1111] SD card rework with SPI API (#496)
  firmware/targets/f5/Src/fatfs/spi_sd_hal.c
  firmware/targets/f5/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f5/Src/fatfs/user_diskio.c
  firmware/targets/f5/api-hal/api-hal-spi-config.c
  firmware/targets/f5/api-hal/api-hal-spi-config.h
  firmware/targets/f5/api-hal/api-hal-spi.c
  firmware/targets/f5/api-hal/api-hal-spi.h
  firmware/targets/f6/Src/fatfs/spi_sd_hal.c
  firmware/targets/f6/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f6/Src/fatfs/user_diskio.c
  firmware/targets/f6/api-hal/api-hal-spi-config.c
  firmware/targets/f6/api-hal/api-hal-spi-config.h
  firmware/targets/f6/api-hal/api-hal-spi.c
  firmware/targets/f6/api-hal/api-hal-spi.h
Owners: @skotopes, @DrZlo13

[FL-1357] CLI: SD Format confirmation #495
  applications/sd-filesystem/sd-filesystem.c
Owners: @skotopes, @DrZlo13

[FL-1357] CLI: SD Format confirmation #495
  applications/sd-filesystem/sd-filesystem.c
Owners: @skotopes, @DrZlo13

[FL-1235] Cut long names (#494)
  applications/archive/archive.c
  applications/archive/archive_i.h
  applications/archive/archive_views.c
  applications/gui/elements.c
  applications/gui/elements.h
  applications/gui/modules/file_select.c
Owners: @skotopes, @DrZlo13

[FL-1235] Cut long names (#494)
  applications/archive/archive.c
  applications/archive/archive_i.h
  applications/archive/archive_views.c
  applications/gui/elements.c
  applications/gui/elements.h
  applications/gui/modules/file_select.c
Owners: @skotopes, @DrZlo13

[FL-1308] Add API for starting applications with arguments (#486)
  applications/app-loader/app-loader.c
  applications/app-loader/app-loader.h
  applications/archive/archive.c
  applications/archive/archive_i.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1308] Add API for starting applications with arguments (#486)
  applications/app-loader/app-loader.c
  applications/app-loader/app-loader.h
  applications/archive/archive.c
  applications/archive/archive_i.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1307] iButton key files: ASCII encoding and .ibtn extension (#493)
  applications/gui/modules/file_select.c
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/ibutton/scene/ibutton-scene-delete-confirm.cpp
  applications/ibutton/scene/ibutton-scene-save-name.cpp
  applications/ibutton/scene/ibutton-scene-select-key.cpp
  applications/sd-filesystem/sd-filesystem-api.c
  applications/sd-filesystem/sd-filesystem.c
  applications/sd-filesystem/sd-filesystem.h
  lib/common-api/filesystem-api.h
  lib/common-api/sd-card-api.h
Owners: @skotopes, @DrZlo13

[FL-1307] iButton key files: ASCII encoding and .ibtn extension (#493)
  applications/gui/modules/file_select.c
  applications/ibutton/ibutton-app.cpp
  applications/ibutton/ibutton-app.h
  applications/ibutton/scene/ibutton-scene-delete-confirm.cpp
  applications/ibutton/scene/ibutton-scene-save-name.cpp
  applications/ibutton/scene/ibutton-scene-select-key.cpp
  applications/sd-filesystem/sd-filesystem-api.c
  applications/sd-filesystem/sd-filesystem.c
  applications/sd-filesystem/sd-filesystem.h
  lib/common-api/filesystem-api.h
  lib/common-api/sd-card-api.h
Owners: @skotopes, @DrZlo13

[FL-1367] fix rfid on f6 target (#500)
  firmware/targets/f6/api-hal/api-hal-rfid.c
  firmware/targets/f6/api-hal/api-hal-tim.c
Owners: @skotopes, @DrZlo13

[FL-1367] fix rfid on f6 target (#500)
  firmware/targets/f6/api-hal/api-hal-rfid.c
  firmware/targets/f6/api-hal/api-hal-tim.c
Owners: @skotopes, @DrZlo13

Blink app: add delay to prevent notifications stuck (#499)
  applications/examples/blink.c
Owners: @skotopes, @DrZlo13

Blink app: add delay to prevent notifications stuck (#499)
  applications/examples/blink.c
Owners: @skotopes, @DrZlo13

Github: update workflow to match new scheme (#498)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

Github: update workflow to match new scheme (#498)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

[FL-1345] IRDA monitor (#504)
  applications/irda_monitor/irda_monitor.c
  applications/notification/notification-messages.c
  applications/notification/notification-messages.h
Owners: @skotopes, @DrZlo13

[FL-1345] IRDA monitor (#504)
  applications/irda_monitor/irda_monitor.c
  applications/notification/notification-messages.c
  applications/notification/notification-messages.h
Owners: @skotopes, @DrZlo13

Add BLE CLI tests (#502)
  applications/applications.c
  applications/bt/bt.c
  applications/bt/bt_cli.c
  applications/bt/bt_cli.h
  applications/bt/bt_i.h
  firmware/targets/api-hal-include/api-hal-bt.h
  firmware/targets/f5/api-hal/api-hal-bt.c
  firmware/targets/f6/api-hal/api-hal-bt.c
Owners: @skotopes, @DrZlo13

Add BLE CLI tests (#502)
  applications/applications.c
  applications/bt/bt.c
  applications/bt/bt_cli.c
  applications/bt/bt_cli.h
  applications/bt/bt_i.h
  firmware/targets/api-hal-include/api-hal-bt.h
  firmware/targets/f5/api-hal/api-hal-bt.c
  firmware/targets/f6/api-hal/api-hal-bt.c
Owners: @skotopes, @DrZlo13

[FL-1388] Passport portraits (#506)
  applications/dolphin/passport/passport.c
  assets/icons/Passport/passport_bad1_43x45.png
  assets/icons/Passport/passport_bad2_43x45.png
  assets/icons/Passport/passport_bad3_43x45.png
  assets/icons/Passport/passport_happy1_43x45.png
  assets/icons/Passport/passport_happy2_43x45.png
  assets/icons/Passport/passport_happy3_43x45.png
  assets/icons/Passport/passport_okay1_43x45.png
  assets/icons/Passport/passport_okay2_43x45.png
  assets/icons/Passport/passport_okay3_43x45.png
Owners: @skotopes, @DrZlo13, @itsyourbedtime

[FL-1388] Passport portraits (#506)
  applications/dolphin/passport/passport.c
  assets/icons/Passport/passport_bad1_43x45.png
  assets/icons/Passport/passport_bad2_43x45.png
  assets/icons/Passport/passport_bad3_43x45.png
  assets/icons/Passport/passport_happy1_43x45.png
  assets/icons/Passport/passport_happy2_43x45.png
  assets/icons/Passport/passport_happy3_43x45.png
  assets/icons/Passport/passport_okay1_43x45.png
  assets/icons/Passport/passport_okay2_43x45.png
  assets/icons/Passport/passport_okay3_43x45.png
Owners: @skotopes, @DrZlo13, @itsyourbedtime

[FL-1234] Keyboards redesign (#501)
  applications/archive/archive.c
  applications/archive/archive_views.c
  applications/gui/modules/byte_input.c
  applications/gui/modules/text_input.c
  applications/input/input_i.h
Owners: @skotopes, @DrZlo13

[FL-1234] Keyboards redesign (#501)
  applications/archive/archive.c
  applications/archive/archive_views.c
  applications/gui/modules/byte_input.c
  applications/gui/modules/text_input.c
  applications/input/input_i.h
Owners: @skotopes, @DrZlo13

fixed line end in cli:hw_info command (#503)
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

fixed line end in cli:hw_info command (#503)
  applications/cli/cli_commands.c
Owners: @skotopes, @DrZlo13

[FL-1363] BLE GUI tests (#505)
  applications/bt/bt.c
  applications/bt/bt_i.h
  applications/bt/bt_types.h
  applications/bt/bt_views.c
  applications/bt/bt_views.h
  firmware/targets/f5/api-hal/api-hal-bt.c
  firmware/targets/f6/api-hal/api-hal-bt.c
Owners: @skotopes, @DrZlo13

[FL-1363] BLE GUI tests (#505)
  applications/bt/bt.c
  applications/bt/bt_i.h
  applications/bt/bt_types.h
  applications/bt/bt_views.c
  applications/bt/bt_views.h
  firmware/targets/f5/api-hal/api-hal-bt.c
  firmware/targets/f6/api-hal/api-hal-bt.c
Owners: @skotopes, @DrZlo13
