Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @gornekich, @itsyourbedtime, @albkharisov

[FL-1146] GD0 self-test
  applications/subghz/subghz_static.c
  applications/subghz/subghz_test_basic.c
  applications/subghz/subghz_test_packet.c
  firmware/targets/f5/api-hal/api-hal-resources.c
  firmware/targets/f5/api-hal/api-hal-resources.h
  firmware/targets/f5/api-hal/api-hal-subghz.c
  lib/drivers/cc1101_regs.h
Owners: @skotopes, @gornekich

[FL-1146] GD0 self-test
  applications/subghz/subghz_static.c
  applications/subghz/subghz_test_basic.c
  applications/subghz/subghz_test_packet.c
  firmware/targets/f5/api-hal/api-hal-resources.c
  firmware/targets/f5/api-hal/api-hal-resources.h
  firmware/targets/f5/api-hal/api-hal-subghz.c
  lib/drivers/cc1101_regs.h
Owners: @skotopes, @gornekich

ApiHalNfc: exit sleep mode before activating field and vice versa (#456)
  firmware/targets/f5/api-hal/api-hal-nfc.c
Owners: @skotopes

ApiHalNfc: exit sleep mode before activating field and vice versa (#456)
  firmware/targets/f5/api-hal/api-hal-nfc.c
Owners: @skotopes

Upload ELFs to update server (#457)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

Upload ELFs to update server (#457)
  .github/workflows/ci.yml
Owners: @skotopes, @DrZlo13

.github/CODEOWNERS:

# Who owns all the code by default

* @skotopes @DrZlo13

# Applications
applications/** @skotopes
applications/accessor/** @DrZlo13
applications/app-loader/** @gornekich
applications/bt/** @skotopes
applications/cli/** @skotopes
applications/dolphin/** @skotopes @itsyourbedtime
applications/gpio-tester/** @skotopes
applications/gui/** @skotopes
applications/gui-test/** @DrZlo13
applications/ibutton/** @DrZlo13
applications/input/** @skotopes
applications/irda/** @DrZlo13 @albkharisov
applications/lf-rfid/** @DrZlo13 
applications/menu/** @skotopes
applications/music-player/** @DrZlo13
applications/nfc/** @skotopes @gornekich
applications/power/** @skotopes
applications/sd-card-test/** @DrZlo13
applications/sd-filesystem/** @DrZlo13
applications/subghz/** @skotopes
applications/template/** @skotopes
applications/tests/** @skotopes @DrZlo13

# Assets and asset generator
assets/** @skotopes

# Bootloader
bootloader/** @skotopes

# Core, HAL and applocation loader
core/** @DrZlo13

# Debug tools
debug/** @skotopes

# Firmware
firmware/** @skotopes

# Lib
lib/app-template/** @DrZlo13
lib/callback-connector/** @DrZlo13
lib/common-api/** @DrZlo13
lib/cyfral/** @DrZlo13
lib/drivers/** @skotopes @gornekich
lib/fatfs/** @DrZlo13
lib/fnv1a-hash/** @DrZlo13
lib/mlib/** @skotopes
lib/onewire/** @DrZlo13
lib/qrcode/** @DrZlo13
lib/ST25RFAL002/** @skotopes @gornekich
lib/STM32CubeWB/** @skotopes
lib/u8g2/** @skotopes
lib/version/** @skotopes

# Make
make/** @skotopes
