Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @gornekich, @itsyourbedtime, @albkharisov

Skorp sub ghz add protocol (#578)
  lib/fl_subghz/protocols/subghz_protocol.c
  lib/fl_subghz/protocols/subghz_protocol_came.h
  lib/fl_subghz/protocols/subghz_protocol_faac_slh.c
  lib/fl_subghz/protocols/subghz_protocol_faac_slh.h
  lib/fl_subghz/protocols/subghz_protocol_gate_tx.c
  lib/fl_subghz/protocols/subghz_protocol_gate_tx.h
  lib/fl_subghz/protocols/subghz_protocol_ido.c
  lib/fl_subghz/protocols/subghz_protocol_ido.h
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.h
  lib/fl_subghz/protocols/subghz_protocol_nero_sketch.c
  lib/fl_subghz/protocols/subghz_protocol_nero_sketch.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.h
  lib/fl_subghz/protocols/subghz_protocol_princeton.h
Owners: @skotopes, @DrZlo13

Skorp sub ghz add protocol (#578)
  lib/fl_subghz/protocols/subghz_protocol.c
  lib/fl_subghz/protocols/subghz_protocol_came.h
  lib/fl_subghz/protocols/subghz_protocol_faac_slh.c
  lib/fl_subghz/protocols/subghz_protocol_faac_slh.h
  lib/fl_subghz/protocols/subghz_protocol_gate_tx.c
  lib/fl_subghz/protocols/subghz_protocol_gate_tx.h
  lib/fl_subghz/protocols/subghz_protocol_ido.c
  lib/fl_subghz/protocols/subghz_protocol_ido.h
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.h
  lib/fl_subghz/protocols/subghz_protocol_nero_sketch.c
  lib/fl_subghz/protocols/subghz_protocol_nero_sketch.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flo.h
  lib/fl_subghz/protocols/subghz_protocol_nice_flor_s.h
  lib/fl_subghz/protocols/subghz_protocol_princeton.h
Owners: @skotopes, @DrZlo13

[FL-1528] SubGhz: dma send (#579)
  applications/subghz/subghz_cli.c
  applications/subghz/views/subghz_capture.c
  applications/subghz/views/subghz_static.c
  applications/subghz/views/subghz_test_basic.c
  applications/subghz/views/subghz_test_packet.c
  firmware/targets/api-hal-include/api-hal-subghz.h
  firmware/targets/api-hal-include/api-hal.h
  firmware/targets/f5/api-hal/api-hal-interrupt.h
  firmware/targets/f5/api-hal/api-hal-subghz.c
  firmware/targets/f6/api-hal/api-hal-clock.c
  firmware/targets/f6/api-hal/api-hal-clock.h
  firmware/targets/f6/api-hal/api-hal-interrupt.c
  firmware/targets/f6/api-hal/api-hal-interrupt.h
  firmware/targets/f6/api-hal/api-hal-subghz.c
  firmware/targets/f6/api-hal/api-hal.c
  firmware/targets/f6/target.mk
  lib/drivers/cc1101.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1528] SubGhz: dma send (#579)
  applications/subghz/subghz_cli.c
  applications/subghz/views/subghz_capture.c
  applications/subghz/views/subghz_static.c
  applications/subghz/views/subghz_test_basic.c
  applications/subghz/views/subghz_test_packet.c
  firmware/targets/api-hal-include/api-hal-subghz.h
  firmware/targets/api-hal-include/api-hal.h
  firmware/targets/f5/api-hal/api-hal-interrupt.h
  firmware/targets/f5/api-hal/api-hal-subghz.c
  firmware/targets/f6/api-hal/api-hal-clock.c
  firmware/targets/f6/api-hal/api-hal-clock.h
  firmware/targets/f6/api-hal/api-hal-interrupt.c
  firmware/targets/f6/api-hal/api-hal-interrupt.h
  firmware/targets/f6/api-hal/api-hal-subghz.c
  firmware/targets/f6/api-hal/api-hal.c
  firmware/targets/f6/target.mk
  lib/drivers/cc1101.c
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1537] NFC launch from archive (#580)
  applications/ibutton/ibutton-app.cpp
  applications/nfc/nfc.c
  applications/nfc/nfc_device.c
  applications/nfc/nfc_device.h
Owners: @skotopes, @DrZlo13, @gornekich

[FL-1537] NFC launch from archive (#580)
  applications/ibutton/ibutton-app.cpp
  applications/nfc/nfc.c
  applications/nfc/nfc_device.c
  applications/nfc/nfc_device.h
Owners: @skotopes, @DrZlo13, @gornekich

Skorp sub ghz add protocol (#581)
  lib/fl_subghz/protocols/subghz_protocol.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.h
  lib/fl_subghz/protocols/subghz_protocol_keeloq_common.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq_common.h
  lib/fl_subghz/protocols/subghz_protocol_star_line.c
  lib/fl_subghz/protocols/subghz_protocol_star_line.h
  lib/fl_subghz/subghz_keystore.c
  lib/fl_subghz/subghz_keystore.h
Owners: @skotopes, @DrZlo13

Skorp sub ghz add protocol (#581)
  lib/fl_subghz/protocols/subghz_protocol.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.h
  lib/fl_subghz/protocols/subghz_protocol_keeloq_common.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq_common.h
  lib/fl_subghz/protocols/subghz_protocol_star_line.c
  lib/fl_subghz/protocols/subghz_protocol_star_line.h
  lib/fl_subghz/subghz_keystore.c
  lib/fl_subghz/subghz_keystore.h
Owners: @skotopes, @DrZlo13

SubGhz: update capture configuration (#583)
  firmware/targets/f6/api-hal/api-hal-subghz.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq_common.h
  lib/fl_subghz/protocols/subghz_protocol_star_line.c
Owners: @skotopes, @DrZlo13

SubGhz: update capture configuration (#583)
  firmware/targets/f6/api-hal/api-hal-subghz.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq.c
  lib/fl_subghz/protocols/subghz_protocol_keeloq_common.h
  lib/fl_subghz/protocols/subghz_protocol_star_line.c
Owners: @skotopes, @DrZlo13

[FL-1470] Support archive for IRDA (#582)
  applications/irda/irda-app-event.hpp
  applications/irda/irda-app-remote-manager.cpp
  applications/irda/irda-app-remote-manager.hpp
  applications/irda/irda-app.cpp
  applications/irda/irda-app.hpp
  applications/irda/irda-runner.cpp
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1470] Support archive for IRDA (#582)
  applications/irda/irda-app-event.hpp
  applications/irda/irda-app-remote-manager.cpp
  applications/irda/irda-app-remote-manager.hpp
  applications/irda/irda-app.cpp
  applications/irda/irda-app.hpp
  applications/irda/irda-runner.cpp
Owners: @skotopes, @DrZlo13, @albkharisov

[FL-1555] Cli: update motd (#584)
  applications/cli/cli.c
  applications/cli/cli_commands.c
  applications/cli/cli_i.h
Owners: @skotopes, @DrZlo13

[FL-1555] Cli: update motd (#584)
  applications/cli/cli.c
  applications/cli/cli_commands.c
  applications/cli/cli_i.h
Owners: @skotopes, @DrZlo13

.github/CODEOWNERS:

# Who owns all the code by default

* @skotopes @DrZlo13

# Applications
applications/** @skotopes @DrZlo13
applications/accessor/** @skotopes @DrZlo13
applications/app-loader/** @skotopes @DrZlo13 @gornekich
applications/bt/** @skotopes @DrZlo13
applications/cli/** @skotopes @DrZlo13
applications/dolphin/** @skotopes @DrZlo13 @itsyourbedtime
applications/gpio-tester/** @skotopes @DrZlo13
applications/gui/** @skotopes @DrZlo13
applications/gui-test/** @skotopes @DrZlo13
applications/ibutton/** @skotopes @DrZlo13
applications/input/** @skotopes @DrZlo13
applications/irda/** @skotopes @DrZlo13 @albkharisov
applications/lf-rfid/** @skotopes @DrZlo13
applications/menu/** @skotopes @DrZlo13
applications/music-player/** @skotopes @DrZlo13
applications/nfc/** @skotopes @DrZlo13 @gornekich
applications/power/** @skotopes @DrZlo13
applications/sd-card-test/** @skotopes @DrZlo13
applications/sd-filesystem/** @skotopes @DrZlo13
applications/subghz/** @skotopes @DrZlo13
applications/template/** @skotopes @DrZlo13
applications/tests/** @skotopes @DrZlo13

# Assets and asset generator
assets/** @skotopes @DrZlo13

# Bootloader
bootloader/** @skotopes @DrZlo13

# Core, HAL and applocation loader
core/** @skotopes @DrZlo13

# Debug tools
debug/** @skotopes @DrZlo13

# Firmware
firmware/** @skotopes @DrZlo13

# Lib
lib/app-template/** @skotopes @DrZlo13
lib/callback-connector/** @skotopes @DrZlo13
lib/common-api/** @skotopes @DrZlo13
lib/cyfral/** @skotopes @DrZlo13
lib/drivers/** @skotopes @DrZlo13 @gornekich
lib/fatfs/** @skotopes @DrZlo13
lib/fnv1a-hash/** @skotopes @DrZlo13
lib/littlefs/** @skotopes @DrZlo13
lib/mlib/** @skotopes @DrZlo13
lib/onewire/** @skotopes @DrZlo13
lib/qrcode/** @skotopes @DrZlo13
lib/ST25RFAL002/** @skotopes @DrZlo13 @gornekich
lib/STM32CubeWB/** @skotopes @DrZlo13
lib/u8g2/** @skotopes @DrZlo13
lib/version/** @skotopes @DrZlo13

# Make
make/** @skotopes @DrZlo13
