Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glitchcore, @skotopes, @DrZlo13

FL-524 Fix subghz freq (#303)
  applications/cc1101-workaround/cc1101-workaround.cpp
Owners: @glitchcore

FL-524 Fix subghz freq (#303)
  applications/cc1101-workaround/cc1101-workaround.cpp
Owners: @glitchcore

SPI Device API (#304)
  applications/gui/u8g2_periphery.c
  core/api-hal/api-interrupt-mgr.h
  firmware/targets/f4/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f4/Src/fatfs/user_diskio.c
  firmware/targets/f4/Src/spi.c
  firmware/targets/f4/api-hal/api-hal-gpio.c
  firmware/targets/f4/api-hal/api-hal-spi-config.c
  firmware/targets/f4/api-hal/api-hal-spi-config.h
  firmware/targets/f4/api-hal/api-hal-spi.c
  firmware/targets/f4/api-hal/api-hal-spi.h
Owners: @skotopes, @glitchcore

SPI Device API (#304)
  applications/gui/u8g2_periphery.c
  core/api-hal/api-interrupt-mgr.h
  firmware/targets/f4/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f4/Src/fatfs/user_diskio.c
  firmware/targets/f4/Src/spi.c
  firmware/targets/f4/api-hal/api-hal-gpio.c
  firmware/targets/f4/api-hal/api-hal-spi-config.c
  firmware/targets/f4/api-hal/api-hal-spi-config.h
  firmware/targets/f4/api-hal/api-hal-spi.c
  firmware/targets/f4/api-hal/api-hal-spi.h
Owners: @skotopes, @glitchcore

fix gpio set (#305)
  applications/gpio-tester/gpio-tester.c
Owners: @glitchcore

fix gpio set (#305)
  applications/gpio-tester/gpio-tester.c
Owners: @glitchcore

[FL-698] SD cli commands (#306)
  applications/cli/cli.h
  applications/sd-card-test/sd-card-test.cpp
  applications/sd-filesystem/sd-filesystem.c
Owners: @glitchcore, @DrZlo13

[FL-698] SD cli commands (#306)
  applications/cli/cli.h
  applications/sd-card-test/sd-card-test.cpp
  applications/sd-filesystem/sd-filesystem.c
Owners: @glitchcore, @DrZlo13

HAL Timebase, Power, Clock: semaphore guarded access to clock and power modes, better sleep mode. (#307)
  firmware/targets/api-hal-include/api-hal-power.h
  firmware/targets/f4/api-hal/api-hal-clock.c
  firmware/targets/f4/api-hal/api-hal-clock.h
  firmware/targets/f4/api-hal/api-hal-power.c
  firmware/targets/f4/api-hal/api-hal-timebase.c
Owners: @glitchcore

HAL Timebase, Power, Clock: semaphore guarded access to clock and power modes, better sleep mode. (#307)
  firmware/targets/api-hal-include/api-hal-power.h
  firmware/targets/f4/api-hal/api-hal-clock.c
  firmware/targets/f4/api-hal/api-hal-clock.h
  firmware/targets/f4/api-hal/api-hal-power.c
  firmware/targets/f4/api-hal/api-hal-timebase.c
Owners: @glitchcore

.github/CODEOWNERS:

# CTO owns all the code by default

* @glitchcore

# unknow applications

applications/** @glitchcore

# assets and asset generator

assets/** @skotopes

# bootloader

bootloader/** @skotopes
firmware/targets/f4/api-hal/api-hal-boot.c @skotopes

# debug tools

debug/** @skotopes

# local target

firmware/targets/local/** @glitchcore

# BLE

firmware/targets/f4/ble-glue/** @skotopes
applications/bt/** @skotopes

# Sub-GHz

applications/cc1101-workaround/** @glitchcore

# Dolphin

applications/dolphin/** @skotopes

# GUI Stuff

applications/gui/** @skotopes

# iButton

applications/ibutton/** @DrZlo13
lib/cyfral/** @DrZlo13
lib/onewire/** @DrZlo13

# IR

applications/irda/** @DrZlo13

# LF RFID

applications/lf-rfid/** @glitchcore

# Menu

applications/menu/** @skotopes

# NFC

applications/nfc/** @skotopes
lib/ST25RFAL002/** @skotopes

# SD Card and filesystem

applications/sd-card-test/** @DrZlo13
applications/sd-filesystem/** @DrZlo13
lib/common-api/filesystem-api.h @DrZlo13
lib/fatfs/** @DrZlo13

# Power control app

applications/power/** @skotopes

# Some applications

applications/music-player/** @DrZlo13
applications/floopper-bloopper/** @glitchcore
applications/gpio-tester/** @glitchcore

lib/app-template/** @DrZlo13
lib/qrcode/** @DrZlo13
lib/callback-connector/** @DrZlo13
