Repository DarkFlippers/unleashed-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glitchcore, @skotopes, @DrZlo13

Calibrate HSE xtal, adjust on-chip load capacitors (#351)
  firmware/targets/f5/Src/main.c
Owners: @glitchcore

Calibrate HSE xtal, adjust on-chip load capacitors (#351)
  firmware/targets/f5/Src/main.c
Owners: @glitchcore

Rename net names (#355)
  firmware/targets/f5/Inc/main.h
  firmware/targets/f5/Src/gpio.c
  firmware/targets/f5/api-hal/api-hal-subghz.c
  firmware/targets/f5/cube/Inc/main.h
  firmware/targets/f5/cube/Makefile
  firmware/targets/f5/cube/Src/gpio.c
  firmware/targets/f5/cube/Src/spi.c
  firmware/targets/f5/cube/f5.ioc
Owners: @glitchcore

Rename net names (#355)
  firmware/targets/f5/Inc/main.h
  firmware/targets/f5/Src/gpio.c
  firmware/targets/f5/api-hal/api-hal-subghz.c
  firmware/targets/f5/cube/Inc/main.h
  firmware/targets/f5/cube/Makefile
  firmware/targets/f5/cube/Src/gpio.c
  firmware/targets/f5/cube/Src/spi.c
  firmware/targets/f5/cube/f5.ioc
Owners: @glitchcore

New lf rfid (#342)
  applications/lf-rfid/lf-rfid.c
  core/api-hal/api-gpio.h
  firmware/targets/f4/api-hal/api-hal-gpio.c
  firmware/targets/f4/target.mk
  firmware/targets/f5/api-hal/api-hal-gpio.c
  firmware/targets/f5/target.mk
  lib/cyfral/cyfral_reader_comp.h
Owners: @glitchcore, @DrZlo13

New lf rfid (#342)
  applications/lf-rfid/lf-rfid.c
  core/api-hal/api-gpio.h
  firmware/targets/f4/api-hal/api-hal-gpio.c
  firmware/targets/f4/target.mk
  firmware/targets/f5/api-hal/api-hal-gpio.c
  firmware/targets/f5/target.mk
  lib/cyfral/cyfral_reader_comp.h
Owners: @glitchcore, @DrZlo13

API HAL: takeover i2c initialization and abstraction. Update I2C drivers to match new api. Back port API HAL to bootloader and enable light support for F5. (#356)
  bootloader/targets/f5/api-hal/api-hal-i2c.c
  bootloader/targets/f5/api-hal/api-hal-i2c.h
  bootloader/targets/f5/api-hal/api-hal-light.c
  bootloader/targets/f5/api-hal/api-hal-light.h
  bootloader/targets/f5/api-hal/api-hal-resources.h
  bootloader/targets/f5/api-hal/api-hal.c
  bootloader/targets/f5/api-hal/api-hal.h
  bootloader/targets/f5/target.c
  bootloader/targets/f5/target.mk
  firmware/targets/api-hal-include/api-hal-i2c.h
  firmware/targets/f4/Inc/i2c.h
  firmware/targets/f4/Inc/main.h
  firmware/targets/f4/Src/i2c.c
  firmware/targets/f4/Src/main.c
  firmware/targets/f4/api-hal/api-hal-i2c.c
  firmware/targets/f5/Inc/i2c.h
  firmware/targets/f5/Inc/main.h
  firmware/targets/f5/Src/gpio.c
  firmware/targets/f5/Src/i2c.c
  firmware/targets/f5/Src/main.c
  firmware/targets/f5/api-hal/api-hal-i2c.c
  firmware/targets/f5/api-hal/api-hal-resources.h
  lib/drivers/bq25896.c
  lib/drivers/bq27220.c
  lib/drivers/lp5562.c
Owners: @skotopes, @DrZlo13, @glitchcore

API HAL: takeover i2c initialization and abstraction. Update I2C drivers to match new api. Back port API HAL to bootloader and enable light support for F5. (#356)
  bootloader/targets/f5/api-hal/api-hal-i2c.c
  bootloader/targets/f5/api-hal/api-hal-i2c.h
  bootloader/targets/f5/api-hal/api-hal-light.c
  bootloader/targets/f5/api-hal/api-hal-light.h
  bootloader/targets/f5/api-hal/api-hal-resources.h
  bootloader/targets/f5/api-hal/api-hal.c
  bootloader/targets/f5/api-hal/api-hal.h
  bootloader/targets/f5/target.c
  bootloader/targets/f5/target.mk
  firmware/targets/api-hal-include/api-hal-i2c.h
  firmware/targets/f4/Inc/i2c.h
  firmware/targets/f4/Inc/main.h
  firmware/targets/f4/Src/i2c.c
  firmware/targets/f4/Src/main.c
  firmware/targets/f4/api-hal/api-hal-i2c.c
  firmware/targets/f5/Inc/i2c.h
  firmware/targets/f5/Inc/main.h
  firmware/targets/f5/Src/gpio.c
  firmware/targets/f5/Src/i2c.c
  firmware/targets/f5/Src/main.c
  firmware/targets/f5/api-hal/api-hal-i2c.c
  firmware/targets/f5/api-hal/api-hal-resources.h
  lib/drivers/bq25896.c
  lib/drivers/bq27220.c
  lib/drivers/lp5562.c
Owners: @skotopes, @DrZlo13, @glitchcore

[FL-905] Add battery health state monitoring in power app (#358)
  applications/power/power.c
  applications/power/power_views.c
  applications/power/power_views.h
  firmware/targets/api-hal-include/api-hal-power.h
  firmware/targets/f4/api-hal/api-hal-power.c
  firmware/targets/f5/api-hal/api-hal-power.c
  lib/drivers/bq27220.c
  lib/drivers/bq27220.h
Owners: @skotopes, @DrZlo13, @glitchcore

[FL-905] Add battery health state monitoring in power app (#358)
  applications/power/power.c
  applications/power/power_views.c
  applications/power/power_views.h
  firmware/targets/api-hal-include/api-hal-power.h
  firmware/targets/f4/api-hal/api-hal-power.c
  firmware/targets/f5/api-hal/api-hal-power.c
  lib/drivers/bq27220.c
  lib/drivers/bq27220.h
Owners: @skotopes, @DrZlo13, @glitchcore

Outdated apps: add api-light-usage (#359)
  applications/examples/strobe.c
  applications/sd-nfc/sdnfc.cpp
  applications/tests/test_index.c
Owners: @glitchcore

Outdated apps: add api-light-usage (#359)
  applications/examples/strobe.c
  applications/sd-nfc/sdnfc.cpp
  applications/tests/test_index.c
Owners: @glitchcore

[FL-933] API HAL I2C: initialize bus on start (#360)
  bootloader/targets/f5/api-hal/api-hal-i2c.c
  bootloader/targets/f5/api-hal/api-hal-resources.h
  firmware/targets/f4/api-hal/api-hal-i2c.c
  firmware/targets/f4/api-hal/api-hal-resources.h
  firmware/targets/f4/target.mk
  firmware/targets/f5/api-hal/api-hal-i2c.c
  firmware/targets/f5/api-hal/api-hal-resources.h
  firmware/targets/f5/cube/Inc/i2c.h
  firmware/targets/f5/cube/Inc/main.h
  firmware/targets/f5/cube/Inc/stm32_assert.h
  firmware/targets/f5/cube/Inc/stm32wbxx_hal_conf.h
  firmware/targets/f5/cube/Makefile
  firmware/targets/f5/cube/Src/i2c.c
  firmware/targets/f5/cube/f5.ioc
  firmware/targets/f5/target.mk
Owners: @skotopes, @glitchcore, @DrZlo13

[FL-933] API HAL I2C: initialize bus on start (#360)
  bootloader/targets/f5/api-hal/api-hal-i2c.c
  bootloader/targets/f5/api-hal/api-hal-resources.h
  firmware/targets/f4/api-hal/api-hal-i2c.c
  firmware/targets/f4/api-hal/api-hal-resources.h
  firmware/targets/f4/target.mk
  firmware/targets/f5/api-hal/api-hal-i2c.c
  firmware/targets/f5/api-hal/api-hal-resources.h
  firmware/targets/f5/cube/Inc/i2c.h
  firmware/targets/f5/cube/Inc/main.h
  firmware/targets/f5/cube/Inc/stm32_assert.h
  firmware/targets/f5/cube/Inc/stm32wbxx_hal_conf.h
  firmware/targets/f5/cube/Makefile
  firmware/targets/f5/cube/Src/i2c.c
  firmware/targets/f5/cube/f5.ioc
  firmware/targets/f5/target.mk
Owners: @skotopes, @glitchcore, @DrZlo13

[FL-942] remove 3s delays in reset, dfu and poweroff CLI commands (#362)
  applications/power/power.c
Owners: @skotopes

[FL-942] remove 3s delays in reset, dfu and poweroff CLI commands (#362)
  applications/power/power.c
Owners: @skotopes

[FL-943] Add CLI command for input events injection (#363)
  applications/input/input.c
  applications/input/input_i.h
Owners: @skotopes

[FL-943] Add CLI command for input events injection (#363)
  applications/input/input.c
  applications/input/input_i.h
Owners: @skotopes

Prevent device from sleep mode while setuping display (#366)
  applications/gui/canvas.c
Owners: @skotopes

Prevent device from sleep mode while setuping display (#366)
  applications/gui/canvas.c
Owners: @skotopes

Subghz app example (#365)
  applications/applications.c
  applications/applications.mk
  applications/gui-test/gui-test.c
  applications/gui/modules/submenu.c
  applications/gui/modules/submenu.h
  applications/gui/view.h
  applications/gui/view_dispatcher.c
  applications/gui/view_dispatcher.h
  applications/subghz/scene/subghz-scene-generic.h
  applications/subghz/scene/subghz-scene-spectrum-settings.cpp
  applications/subghz/scene/subghz-scene-spectrum-settings.h
  applications/subghz/scene/subghz-scene-start.cpp
  applications/subghz/scene/subghz-scene-start.h
  applications/subghz/subghz-app.cpp
  applications/subghz/subghz-app.h
  applications/subghz/subghz-event.h
  applications/subghz/subghz-view-manager.cpp
  applications/subghz/subghz-view-manager.h
  applications/subghz/subghz.cpp
  applications/subghz/view/subghz-view-spectrum-settings.cpp
  applications/subghz/view/subghz-view-spectrum-settings.h
Owners: @glitchcore, @DrZlo13, @skotopes

Subghz app example (#365)
  applications/applications.c
  applications/applications.mk
  applications/gui-test/gui-test.c
  applications/gui/modules/submenu.c
  applications/gui/modules/submenu.h
  applications/gui/view.h
  applications/gui/view_dispatcher.c
  applications/gui/view_dispatcher.h
  applications/subghz/scene/subghz-scene-generic.h
  applications/subghz/scene/subghz-scene-spectrum-settings.cpp
  applications/subghz/scene/subghz-scene-spectrum-settings.h
  applications/subghz/scene/subghz-scene-start.cpp
  applications/subghz/scene/subghz-scene-start.h
  applications/subghz/subghz-app.cpp
  applications/subghz/subghz-app.h
  applications/subghz/subghz-event.h
  applications/subghz/subghz-view-manager.cpp
  applications/subghz/subghz-view-manager.h
  applications/subghz/subghz.cpp
  applications/subghz/view/subghz-view-spectrum-settings.cpp
  applications/subghz/view/subghz-view-spectrum-settings.h
Owners: @glitchcore, @DrZlo13, @skotopes

[FL-960] View dispatcher: lock gui when the view tree changes (#369)
  applications/gui/view_dispatcher.c
Owners: @skotopes

[FL-960] View dispatcher: lock gui when the view tree changes (#369)
  applications/gui/view_dispatcher.c
Owners: @skotopes

[FL-936] CLI commands for vibro, led and display backlight support (#367)
  applications/cli/cli_commands.c
  firmware/targets/api-hal-include/api-hal-vibro.h
  firmware/targets/api-hal-include/api-hal.h
  firmware/targets/f5/api-hal/api-hal-vibro.c
  firmware/targets/f5/api-hal/api-hal.c
Owners: @glitchcore, @DrZlo13

[FL-936] CLI commands for vibro, led and display backlight support (#367)
  applications/cli/cli_commands.c
  firmware/targets/api-hal-include/api-hal-vibro.h
  firmware/targets/api-hal-include/api-hal.h
  firmware/targets/f5/api-hal/api-hal-vibro.c
  firmware/targets/f5/api-hal/api-hal.c
Owners: @glitchcore, @DrZlo13

[FL-635] Enable LSE CSS (#371)
  bootloader/targets/f4/target.c
  bootloader/targets/f5/target.c
  firmware/targets/f4/Src/main.c
  firmware/targets/f4/Src/stm32wbxx_it.c
  firmware/targets/f4/api-hal/api-hal-power.c
  firmware/targets/f5/Src/main.c
  firmware/targets/f5/Src/stm32wbxx_it.c
  firmware/targets/f5/api-hal/api-hal-power.c
Owners: @skotopes, @glitchcore

[FL-635] Enable LSE CSS (#371)
  bootloader/targets/f4/target.c
  bootloader/targets/f5/target.c
  firmware/targets/f4/Src/main.c
  firmware/targets/f4/Src/stm32wbxx_it.c
  firmware/targets/f4/api-hal/api-hal-power.c
  firmware/targets/f5/Src/main.c
  firmware/targets/f5/Src/stm32wbxx_it.c
  firmware/targets/f5/api-hal/api-hal-power.c
Owners: @skotopes, @glitchcore

Udpate gui_test and app_subghz stack size (#368)
  applications/applications.c
Owners: @glitchcore

Udpate gui_test and app_subghz stack size (#368)
  applications/applications.c
Owners: @glitchcore

add option -j for make (#372)
  .github/workflows/ci.yml
Owners: @glitchcore

add option -j for make (#372)
  .github/workflows/ci.yml
Owners: @glitchcore

SD card v7 BSP (#361)
  applications/sd-filesystem/sd-filesystem.c
  firmware/targets/api-hal-include/api-hal-power.h
  firmware/targets/api-hal-include/api-hal-sd.h
  firmware/targets/f4/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f4/Src/fatfs/stm32_adafruit_sd.h
  firmware/targets/f4/api-hal/api-hal-gpio.c
  firmware/targets/f4/api-hal/api-hal-gpio.h
  firmware/targets/f4/api-hal/api-hal-power.c
  firmware/targets/f4/api-hal/api-hal-sd.c
  firmware/targets/f5/Inc/spi.h
  firmware/targets/f5/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f5/Src/fatfs/stm32_adafruit_sd.h
  firmware/targets/f5/Src/gpio.c
  firmware/targets/f5/Src/spi.c
  firmware/targets/f5/api-hal/api-hal-gpio.c
  firmware/targets/f5/api-hal/api-hal-gpio.h
  firmware/targets/f5/api-hal/api-hal-power.c
  firmware/targets/f5/api-hal/api-hal-resources.c
  firmware/targets/f5/api-hal/api-hal-resources.h
  firmware/targets/f5/api-hal/api-hal-sd.c
Owners: @DrZlo13, @skotopes, @glitchcore

SD card v7 BSP (#361)
  applications/sd-filesystem/sd-filesystem.c
  firmware/targets/api-hal-include/api-hal-power.h
  firmware/targets/api-hal-include/api-hal-sd.h
  firmware/targets/f4/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f4/Src/fatfs/stm32_adafruit_sd.h
  firmware/targets/f4/api-hal/api-hal-gpio.c
  firmware/targets/f4/api-hal/api-hal-gpio.h
  firmware/targets/f4/api-hal/api-hal-power.c
  firmware/targets/f4/api-hal/api-hal-sd.c
  firmware/targets/f5/Inc/spi.h
  firmware/targets/f5/Src/fatfs/stm32_adafruit_sd.c
  firmware/targets/f5/Src/fatfs/stm32_adafruit_sd.h
  firmware/targets/f5/Src/gpio.c
  firmware/targets/f5/Src/spi.c
  firmware/targets/f5/api-hal/api-hal-gpio.c
  firmware/targets/f5/api-hal/api-hal-gpio.h
  firmware/targets/f5/api-hal/api-hal-power.c
  firmware/targets/f5/api-hal/api-hal-resources.c
  firmware/targets/f5/api-hal/api-hal-resources.h
  firmware/targets/f5/api-hal/api-hal-sd.c
Owners: @DrZlo13, @skotopes, @glitchcore

.github/CODEOWNERS:

# CTO owns all the code by default

* @glitchcore

# unknow applications

applications/** @glitchcore

# assets and asset generator

assets/** @skotopes

# bootloader

bootloader/** @skotopes
firmware/targets/f4/api-hal/api-hal-boot.c @skotopes

# debug tools

debug/** @skotopes

# Core, HAL and applocation loader

applications/app-loader/** @DrZlo13
core/** @DrZlo13
firmware/targets/api-hal-include/** @DrZlo13

firmware/targets/f4/api-hal/api-hal-clock.c @skotopes
firmware/targets/f4/api-hal/api-hal-clock.h @skotopes
firmware/targets/f4/api-hal/api-hal-delay.c @DrZlo13
firmware/targets/f4/api-hal/api-hal-flash.c @skotopes
firmware/targets/f4/api-hal/api-hal-flash.h @skotopes
firmware/targets/f4/api-hal/api-hal-gpio.c @DrZlo13
firmware/targets/f4/api-hal/api-hal-gpio.h @DrZlo13
firmware/targets/f4/api-hal/api-hal-pwm.c @DrZlo13
firmware/targets/f4/api-hal/api-hal-pwm.h @DrZlo13
firmware/targets/f4/api-hal/api-hal-resources.c @DrZlo13
firmware/targets/f4/api-hal/api-hal-resources.h @DrZlo13
firmware/targets/f4/api-hal/api-hal-spi-config.c @DrZlo13
firmware/targets/f4/api-hal/api-hal-spi-config.h @DrZlo13
firmware/targets/f4/api-hal/api-hal-spi.c @DrZlo13
firmware/targets/f4/api-hal/api-hal-spi-config.h @DrZlo13
firmware/targets/f4/api-hal/api-hal-tim.c @DrZlo13
firmware/targets/f4/api-hal/api-hal-tim.h @DrZlo13
firmware/targets/f4/api-hal/api-hal-timebase-timer.h @skotopes
firmware/targets/f4/api-hal/api-hal-timebase.c @skotopes
firmware/targets/f4/api-hal/api-hal-timebase.h @skotopes
firmware/targets/f4/api-hal/api-hal-uuid.c @skotopes
firmware/targets/f4/api-hal/api-hal-vcp.c @skotopes
firmware/targets/f4/api-hal/api-hal.c @DrZlo13
firmware/targets/f4/api-hal/api-interrupts.c @DrZlo13

firmware/targets/f4/Src/i2c.c @skotopes
firmware/targets/f5/Src/i2c.c @skotopes

# BLE

firmware/targets/f4/ble-glue/** @skotopes
applications/bt/** @skotopes
firmware/targets/f4/api-hal/api-hal-bt.c @skotopes

# Sub-GHz

applications/cc1101-workaround/** @glitchcore

# Dolphin

applications/dolphin/** @skotopes

# GUI Stuff

applications/gui/** @skotopes
applications/input/** @skotopes

# iButton

applications/ibutton/** @DrZlo13
lib/cyfral/** @DrZlo13
lib/onewire/** @DrZlo13

# IR

applications/irda/** @DrZlo13

# LF RFID

applications/lf-rfid/** @glitchcore

# Menu

applications/menu/** @skotopes

# NFC

applications/nfc/** @skotopes
lib/ST25RFAL002/** @skotopes

# SD Card and filesystem

applications/sd-card-test/** @DrZlo13
applications/sd-filesystem/** @DrZlo13
lib/common-api/filesystem-api.h @DrZlo13
lib/fatfs/** @DrZlo13
firmware/targets/f4/Src/fatfs/** @DrZlo13

# Power control app

applications/power/** @skotopes
lib/drivers/bq* @skotopes
firmware/targets/f4/api-hal/api-hal-power.c @skotopes

# Some applications

applications/music-player/** @DrZlo13
applications/floopper-bloopper/** @glitchcore
applications/gpio-tester/** @glitchcore
applications/gui-test/** @DrZlo13

lib/app-template/** @DrZlo13
lib/qrcode/** @DrZlo13
lib/callback-connector/** @DrZlo13
